/* Screen sizes:
  default: all
  intermediate: <1350px
  md: <900px
  sm: <700px
  xs: <500px
  xxs: <320px
*/
/* ////////////////////BARRA INICIO///////////////// */
.barra-inicio{
   opacity: var(--opacidad-nav);
   transition: transform .3s linear;
}
/* ////////////////////PAGINA INICIO///////////////// */
 .contenedor-nosotros p,
 .contenedor-nosotros h1,
 .contenedor-nosotros a{
      transform: translateX(var(--position-left));
      opacity: var(--letters-group-opacity);
      transition: transform .3s linear;
 }
 .contenedor-index-ne p,
 .contenedor-index-ne h1,
 .contenedor-index-ne a{
   transform: translateX(var(--position-right));
   opacity: var(--letters-group-opacity-ne);
   transition: transform .3s linear;
 }
 .contenedor-cr p,
 .contenedor-cr h1,
 .contenedor-cr a{
   transform: translateX(var(--position-left-cr));
   opacity: var(--letters-group-opacity-cr);
   transition: transform .3s linear;
 }
 /* ////////////////////PAGINA SERVICIOS///////////////// */
 .titulo-blq-neq p{
    transform: translateX(var(--frase-bloque1));
    opacity: var(--frase-opacidad1);
    transition: all .2s linear;
 }
 .titulo-blq-serv p{
  transform: translateX(var(--frase-bloque3));
  opacity: var(--frase-opacidad3);
  transition: all .2s linear;
 }
 .titulo-blq-saludvisual p{
    transform: translateX(var(--frase-bloque2));
    opacity: var(--frase-opacidad2);
    transition: all .2s linear;
 }
 .icon-ne-scroll{
    opacity: var(--icon-opacity1);
    opacity: var(--icon-opacity2);
    transition: all 1s linear;
 }
 .icon-sv-scroll{
   opacity: var(--icon-opacity3);
   opacity: var(--icon-opacity4);
   transition: all .5s linear;
 }
 /* ////////////////////CIRUGIA REFRACTIVA///////////////// */
 .est-boton-agendacita-cr{
   transform: translateY(var(--boton-mov));
   opacity: var(--boton-opacity);
   transition: all .2s ease-in-out;
 }
 .titulo-blq-aseguradoras p{
    transform: translateX(var(--frase-bloque3));
    opacity: var(--frase-opacidad3);
    transition: all .2s linear;
 }
 /* ////////////////////CONTACTO///////////////// */
 .titulo-bloque-center p{
   transform: translateX(var(--frase-bloque4));
   opacity: var(--frase-opacidad4);
   transition: all .2s linear;
 }
 .titulo-completo-maps p{
  transform: translateX(var(--frase-bloque6));
  opacity: var(--frase-opacidad6);
  transition: all .2s linear;
 }
 .titulo-bloque-form p{
   transform: translateY(var(--frase-bloque5));
   opacity: var(--frase-opacidad5);
   transition: all .2s ease-in;
 }