/* Screen sizes:
  default: all
  intermediate: <1350px
  md: <900px
  sm: <700px
  xs: <500px
  xxs: <320px
*/
.col-6 h1{
    color: var(--primary-typo-4);
}
h1{
    color: var(--primary-typo-7);
}
.contenedor-aseguradoras p,
.contenedor-cirugia-refractiva p{
    color: var(--secondary-typo-7);
}
.contenedor-cirugia-refractiva{
    height: 100vh;
}
h2{
    font-family: var(--font-1);
    font-weight: 600;
    color: var(--secondary-typo-1);
    font-size: var(--text-title-cont);
    line-height: var(--spacer-l);
}
.titulo-blq-aseguradoras{
    overflow: hidden;
}
.imagen-de-cirugia img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: 5px;
}
.imagen-de-cirugia{
    display: flex;
    align-items: center;
}
.contenedor-aseguradoras{
    height: min-content;
    padding-bottom: var(--spacer-l);
}

.contenedor-iconos-seguros{
    margin-top: var(--spacer-m);
    border-radius: 5px;
    background-color: var(--background-blue45);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    gap: var(--spacer-m);
    padding-bottom: var(--spacer-m);
    padding-top: var(--spacer-m);
}
.contenedor-iconos-seguros img{
    width: 150px;
}
.boton-agendacita-cr{
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    gap: .5em;
    background-color: transparent;
    border-radius: var(--spacer-m);
    border: 2px solid var(--secondary-typo-1);
    font-size: var(--text-contenido-simple);
    font-weight: 500;
    font-family: var(--font-1);
    box-shadow: var(--sombra-boton-verde);
    color: var(--primary-background-button);
    transition: .2s ease all;
    overflow: hidden;
    padding: var(--spacer-s);
}
.boton-agendacita-cr svg{
    width: 20px;
}
.est-boton-agendacita-cr{
    display: flex;
    justify-self: center;
    padding-bottom: var(--spacer-l);
    padding-top: var(--spacer-l);
}
.boton-agendacita-cr:hover{
background-color: var(--primary-typo-4);
box-shadow: var(--sombra);
color: var(--primary-background-body1);
border: 2px solid transparent;
}
@media (max-width: 900px){
    .contenedor-iconos-seguros{
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: var(--spacer-s);
    }
    .contenedor-iconos-seguros img{
        width: 120px;
    }
    .contenedor-cirugia-refractiva{
        height: min-content;
        text-align: center;
    }
    .contenedor-aseguradoras{
        text-align: center;
    }
}
@media (max-width: 700px){
    
}

@media (max-width: 500px){
    .contenedor-iconos-seguros img{
        width: 120px;
    }
}

@media (max-width: 320px){
    
}