/* Screen sizes:
  default: all
  md: <900px
  sm: <700px
  xs: <500px
  xxs: <320px
*/
/* ////////////////////CABECERA///////////////// */
.contenedor-cabecera-contacto-pg{
    height: min-content;
    background-color: var(--primary-background-bloque);
}
.cabecera-pantalla-grande-contacto{
    width: 100%;
    height: 70vh;
    background: linear-gradient(120deg,rgba(219, 226, 233, 0.7) 60%, rgba(219, 226, 233, 0.7) 20%), url(/assets/images/cita.jpg) top center / cover;
    background-size: cover;
    object-position: center top;
    display: flex;
  }
  .contenedor-cabecera-contacto-pg h1{
    color: var(--secondary-typo-7);
}
  .texto-grande-cabecera-contacto{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-right: 20em;
}
/* ////////////////////BOTON STICKY///////////////// */
.boton-sticky img{
    opacity: .6;
    width: 45px;
  }
  .boton-sticky a{
    display: grid;
    justify-self: right;
    font-size: var(--text-menu-xs);
    color: var(--secondary-typo-menu-2);
    text-align: center;
    opacity: .8;
  }
  .boton-sticky{
    display: grid;
    position: sticky;
    top: 45%;
    padding-right: 1em;
  }

  .boton-sticky a:hover{
    opacity: 1;
  }
  .boton-sticky img:hover{
    opacity: 1;
    transition: all 0.3s;
  }

/* ////////////////////CAJA CONTACTANOS///////////////// */
.titulo-bloque-center{
    overflow: hidden;
}
.fondo p {
    color: var(--secondary-typo-7);
}
h2{
    font-family: var(--font-1);
    font-weight: 600;
    color: var(--secondary-typo-1);
    font-size: var(--text-title-cont);
    line-height: var(--spacer-l);
}
.fondo{
    height: min-content;
    background-color: var(--primary-background-bloque);
    padding-top: var(--spacer-m);
    padding-bottom: var(--spacer-xl);
    margin-bottom: var(--spacer-2xl);
}

.frase-center{
    text-align: center;
    padding-bottom: var(--spacer-m);
}

.caja-contactanos{
    background-color: var(--primary-background-body1);
    padding-top: .5em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5px;
    border: 2px solid transparent;
    box-shadow: var(--sombra-caja);
}

.caja-contactanos p{
    font-size: var(--text-contenido-simple);
}

.centrar-contenido{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--spacer-l);
}

.btn-llamar p{
    display: none;
  }
  .lanzador-agendacita{
    display: flex;
    justify-content: center;
}
.boton-agendacita-contacto{
        cursor: pointer;
        border: 0;
        background-color: var(--secondary-background-green);
        color: var(--secondary-typo-menu);
        border-radius: var(--spacer-s);
        font-size: var(--text-contenido-simple-menu);
        font-weight: 500;
        font-family: var(--font-1);
        box-shadow: var(--sombra-boton-verde);
        transition: .2s ease all;
        padding: var(--spacer-s);
}
.boton-whatsapp-pp{
        display: none;
}
.boton-agendacita-contacto:hover{
    background-color: var(--primary-background-button);
    box-shadow: var(--sombra);
    color: var(--primary-background-body1);
}
.boton-whatsapp-pp a, .boton-agendacita-contacto a, a:visited, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

.frase-whatsapp-pg{
    display: block;
}
.frase-whatsapp-pp{
    display: none;
}
.icono-llamada img{
    width: 90px;
}
.icono-whatsapp-asignado img{
    width: 120px;
}
.icono-whatsapp-dummy img{
    display: none;
}
.icono-calendario img{
    width: 90px;
}
.lista-info-horarios{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: .5em;
}
/* ////////////////////UBICACION///////////////// */
.icono-maps-color img{
    width: 60px;
}
.titulo-con-imagen-maps{
    display: flex;
    gap: var(--spacer-s);
    align-items: center;
}
.contenedor-ubi p{
    color: var(--secondary-typo-7);
}
.contenedor-ubi{
    height: min-content;
    padding-bottom: var(--spacer-m);
    overflow: hidden;
}
.imagen-ubicacion{
    display: block;
    height: min-content;
    padding-bottom: var(--spacer-l);
}
.imagen-1 img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: transform 0.5s;
}
.imagen-1{
    position: relative;
    overflow: hidden;
}
.mapa-overlay{
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    font-family: var(--font-1);
    font-size: var(--text-jumbo);
    font-weight: 500;
    background-color: rgba(121, 132, 182, 0.25);
    transition: opacity 0.5s;
}
.imagen-1:hover .mapa-overlay{
    opacity: 1;
}
.imagen-1:hover img{
    transform: scale(1.05);
}
.imagen-1:hover{
    cursor: pointer;
}
.icono-maps-color img{
    width: 80px;
}
.titulo_etiqueta{
    overflow: hidden;
}
.botones-go{
    display: none;
}
/* ////////////////////FORMULARIO///////////////// */
.contenedor-formulario{
    color: var(--secondary-typo-7);
}
.caja-formulario{
    background-color: var(--primary-background-body1);
    border-radius: 10px;
    border: 5px solid transparent;
    box-shadow: var(--sombra-formulario);
}
.caja-formulario label{
    font-size: var(--text-contenido-simple);
    color: var(--secondary-background);
}
.centra-formas{
    padding-top: var(--spacer-m);
} 
.encabezado-form{
    padding-top: var(--spacer-m);
    border-bottom: 2px solid var(--gris-claro-preguntas-frecuentes);
    color: var(--primary-typo-4);
}
.contacto-form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.centra-formas{
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacer-m);
    padding-right: var(--spacer-m);
    padding-left: var(--spacer-m);
}
    .contacto-form input[type=text],
    .contacto-form input[type=tel],
    .contacto-form input[type=email],
    .contacto-form input[type=date]{
        width: 100%;
        height: var(--spacer-l);
        border: none;
        appearance: none;
        -webkit-appearance: none;
        -ms-appereance: none;
        -moz-appearance: none;
        background: none;
        border: 1.5px solid var(--background-blue);
        opacity: .5;
        padding: 6px;
        border-radius: 5px;
        outline: none;
        font-family: var(--font-1);
    }
    .contacto-form input[type=text]{
        text-transform: uppercase;
    }
    .contacto-form textarea{
        resize: none;
        width: 100%;
        height: var(--spacer-xl);
        border: none;
        appearance: none;
        -webkit-appearance: none;
        -ms-appereance: none;
        -moz-appearance: none;
        background: none;
        border: 1.5px solid var(--background-blue);
        opacity: .5;
        padding: 8px;
        border-radius: 3px;
        outline: none;
        font-family: var(--font-1);
        font-size: var(--text-contenido-simple);
      }
  
  .condiciones #acepto{
    width: 15px;
    height: 15px;
  }
  .custom-field{
      position: relative;
      display: flex;
      padding-top: 10px;
  }
  .custom-placeholder{
      display: flex;
      align-self: flex-end;
      padding-left: var(--spacer-xs);
      padding-right: var(--spacer-xs);
      margin-left: var(--spacer-s);
  }
  .custom-field .custom-placeholder{
      position: absolute;
      transform: translateY(-50%);
      color: var(--gris-claro-preguntas-frecuentes);
      transition:
            top 0.3s ease,
            color 0.3s ease,
            font-size 0.3s ease;
  }
  .contacto-form input[type=checkbox]:checked + label{
    color: var(--secondary-typo-7);
    font-weight: bold;
  }
   ::-webkit-input-placeholder{
    color:rgba(156, 156, 156, 1);
    font-family: var(--font-1);
    font-size: var(--text-contenido-simple);
    opacity: .0;
    transition: opacity 0.3s ease-in-out;
  }
   ::placeholder{
      color:rgba(156, 156, 156, 1);
      font-family: var(--font-1);
      font-size: var(--text-contenido-simple);
      opacity: .0;
      transition: opacity 0.2s ease-in-out;
}
 :focus::placeholder{
    opacity: .7;
}

  .custom-field input[type=text]:valid + .custom-placeholder,
  .custom-field input[type=tel]:valid + .custom-placeholder,
  .custom-field input[type=email]:valid + .custom-placeholder,
  .custom-field input[type=date]:valid + .custom-placeholder,
  .custom-field input[type=text]:focus + .custom-placeholder,
  .custom-field input[type=tel]:focus + .custom-placeholder,
  .custom-field input[type=email]:focus + .custom-placeholder,
  .custom-field input[type=date]:focus + .custom-placeholder{
      top: 10px;
      font-size: var(--text-contenido-simple);
      color: var(--secondary-typo-7);
      background: var(--primary-background-body1);
  }

.custom-field input[type=text]:valid,
.custom-field input[type=tel]:valid,
.custom-field input[type=email]:valid,
.custom-field input[type=text]:focus,
.custom-field input[type=tel]:focus,
.custom-field input[type=email]:focus,
.fecha-cita input[type=date]:focus,
.selecciona-opcion input[type=text]:focus{
    opacity: 1;
    transition: border-color 0.3s ease;
}

.mensaje-formulario textarea:valid,
.mensaje-formulario textarea:focus{
    opacity: 1; 
    transition-delay: 0.1s;
}
/* ////////////////////BOTON ENVIAR///////////////// */
.boton-enviar{
    border: 0;
    background-color: var(--secondary-background-green);
    border-radius: var(--spacer-s);
    color: var(--secondary-typo-menu);
    font-weight: 500;
    font-family: var(--font-1);
    font-size: var(--text-contenido-simple-menu);
    box-shadow: var(--sombra-boton-verde);
    text-align: center;
    transition: .2s ease all;
    padding-top: var(--spacer-s);
    padding-bottom: var(--spacer-s);
    padding-left: var(--spacer-l);
    padding-right: var(--spacer-l);
}
.cuadra-boton-submit{
    display: flex;
    justify-content: end;
}
.boton-enviar:hover{
background-color: var(--primary-background-button);
box-shadow: var(--sombra);
color: var(--primary-background-body1);
}
/* ////////////////////MEDIA QUERYS///////////////// */
@media (max-width: 900px){
    .cabecera-pantalla-grande-contacto{
        height: 90vh;
    }
    .texto-grande-cabecera-contacto{
        padding-right: var(--spacer-l);
    }
    h2{
        line-height: var(--spacer-m);
    }
    .cabecera-pantalla-grande-contacto{
        height: 50vh;
        object-position: center center;
    }
    .boton-sticky{
        display: none;
    }
    .texto-grande-cabecera{
        padding-right: 5em;
        justify-content: center;
    }
    .icono-maps-color img{
        width: 70px;
    }
    .cuadra-boton-submit{
        justify-content: center;
    }
    .contenedor-formulario{
        text-align: center;
    }
    .contenedor-mapa p{
        text-align: center;
    }
}
@media (max-width: 700px){
    .boton-whatsapp-pp{
        cursor: pointer;
        border: 0;
        display: block;
        background-color: var(--secondary-background-green);
        border-radius: var(--spacer-s);
        font-size: var(--text-contenido-simple-menu);
        font-weight: 500;
        font-family: var(--font-1);
        box-shadow: var(--sombra-boton-verde);
        color: var(--secondary-typo-menu);
        transition: .2s ease all;
        overflow: hidden;
        padding: var(--spacer-s);
}
    .linea{
        display: none;
    }
    .titulo-bloque-center{
        text-align: center;
    }
    .btn-llamar p{
        display: block;
      }
    .icono-whatsapp-asignado img{
        display: none;
    }
    .icono-whatsapp-dummy img{
        width: 70px;
        display: block;
    }
    .icono-llamada img{
        width: 70px;
    }
    .icono-calendario img{
        width: 70px;
    }
    .frase-whatsapp-pg{
        display: none;
    }
    .frase-whatsapp-pp{
        display: block;
    }
    .icono-maps-color img{
        width: 70px;
    }
    .titulo-con-imagen-maps{
        flex-direction: column;
    }
    .fecha-cita,
    .mensaje-formulario,
    .selecciona-opcion{
        text-align: left;
    }
    .icono-maps-color{
        text-align: center;
    }
    #link-ubicacion h1,
    #link-ubicacion p{
        text-align: center;
    }
    .icono-maps-color img{
        display: none;
    }
/* //////////// botones de navegacion waze y google maps ////////////// */
    .botones-go{
        display: grid;
        gap: 1em;
    }
    .est-boton-waze,
    .est-boton-g-maps{
        cursor: pointer;
        position: relative;
        background-color: transparent;
        border: 0;
        border-radius: var(--spacer-s);
        transition: .2s ease all;
        box-shadow: var(--sombra);
        border: .1px solid var(--linea-gris-margen);
        overflow: hidden;
        display: flex;
        align-content: center;
        justify-content: start;
    }
    .boton-waze,
    .boton-g-maps{
        cursor: pointer;
        display: flex;
        border: 0;
        background-color: transparent;
        font-family: var(--font-1);
        font-weight: 500;
        color: var(--secondary-typo-7);
        font-size: var(--text-title-cont);
    }
    .boton-waze svg,
    .boton-g-maps svg{
        width: 15px;
    }
    .texto--button{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: var(--spacer-s);
        padding-right: var(--spacer-l);
    }
    .icono--button{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        background-color: var(--secondary-background-green);
        padding-left: 30px;
        padding-right: 15px;
        border-bottom-right-radius: var(--spacer-s);
        border-top-right-radius: var(--spacer-s);
        box-shadow: var(--sombra);
    }
}
@media (max-width: 500px){
    .boton-agendacita-contacto{
         margin-right: 0em;
        justify-self: center;
    }
    .hashtag{
        text-align: center;
    }
    .icono-whatsapp-dummy img{
        width: 50px;
        display: block;
    }
    .icono-llamada img{
        width: 50px;
    }
    .icono-calendario img{
        width: 50px;
    }
    .centra-formas{
        padding-right: var(--spacer-xs);
        padding-left: var(--spacer-xs);
    }
}
@media (max-width: 320px){

}