/* Screen sizes:
  default: all
  intermediate: <1350px
  md: <900px
  sm: <700px
  xs: <500px
  xxs: <320px
*/
.contenedor-preguntas .pregunta{
    font-size: var(--text-contenido-simple-menu);
    font-weight: 500;
}
.contenedor-pregunta .respuesta p{
  font-size: var(--text-contenido-simple);
  font-weight: 400;
}
.categorias .categoria p{
  font-size: var(--text-contenido-simple);
  font-weight: 500;
}
.contenedor-preguntas-frecuentes{
  height: min-content;
}
.categorias{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
  }
  .categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .categoria svg{
    width: 50px;
  }
  .flecha-baja svg {
    width: 18px;
  }
  .contenedor-preguntas-frecuentes p {
    color: var(--secondary-typo-7);
}
.fondo-p-frecuntes{
  padding-bottom: var(--spacer-l);
}
.preguntas{
  margin-top: var(--spacer-l);
  height: max-content;
  margin-bottom: var(--spacer-xl);
}
 /* ////////////////////BOTON///////////////// */
 .est-boton-agendacita-pf-pg{
    display: flex;
    padding-bottom: var(--spacer-l);
    padding-top: var(--spacer-l);
}
.est-boton-agendacita-pf-pp{
  display: none;
}
.boton-agendacita-pf{
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  gap: .5em;
  background-color: var(--primary-background-body1);
  border-radius: var(--spacer-m);
  border: 2px solid var(--secondary-typo-1);
  font-size: var(--text-contenido-simple);
  font-weight: 500;
  font-family: var(--font-1);
  box-shadow: var(--sombra-boton-verde);
  color: var(--primary-background-button);
  transition: .2s ease all;
  overflow: hidden;
  padding: var(--spacer-s);
}
.boton-agendacita-pf svg{
  width: 20px;
}
.boton-agendacita-pf:hover{
background-color: var(--primary-background-button);
box-shadow: var(--sombra);
color: var(--primary-background-body1);
border: 2px solid transparent;
}
.instrucciones{
  display: none;
}
  /* ////////////////////CATEGORIAS///////////////// */
  .categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--primary-background-body1);
    border: 2px solid transparent;
    transition: .2s ease all;
    padding-top: var(--spacer-s);
  }
  .contenedor-preguntas-frecuentes .categoria p{
    color: var(--fondo-gris-placeholder);
  }
  .categoria:hover{
    box-shadow: var(--sombra);
  }
  .categoria:hover p{
    color: var(--secondary-background);
  }
  .categoria:hover path{
    fill: var(--primary-typo-4);
  }
  .categoria path{
    fill: var(--color-path-categorias);
    transition: .2s ease all;
  }
  .categoria.activa{
    border-left: 5px solid var(--secondary-typo-1);
    border-right: 1.5px solid var(--linea-gris-margen);
    border-top: 1.5px solid var(--linea-gris-margen);
    border-bottom: 1.5px solid var(--linea-gris-margen);
    box-shadow: var(--sombra);
  }
  .categoria.activa p{
    color: var(--secondary-background);
  }
  .categoria.activa path{
    fill: var(--primary-typo-4);
  }
  .contenedor-preguntas{
    display: none;
    grid-template-columns: 1fr;
    gap: .5em;
  }
  .contenedor-preguntas.activo{
    display: grid;
  }
    /* ////////////////////TERMINA------CATEGORIAS///////////////// */
    /* ////////////////////PREGUNTAS///////////////// */
    .contenedor-pregunta{
      overflow: hidden;
      transition: .3s ease all;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      border-radius: 5px;
      height: min-content;
      margin-bottom: 0;
      border-left: 5px solid var(--secondary-typo-1);
      border-right: 1.5px solid var(--linea-gris-margen);
      border-top: 1.5px solid var(--linea-gris-margen);
      border-bottom: 1.5px solid var(--linea-gris-margen);
      padding-left: var(--spacer-s);
      padding-right: var(--spacer-s);
      padding-top: var(--spacer-m);
      padding-bottom: var(--spacer-s);
    }
    .contenedor-pregunta.activa{
      border-left: 5px solid var(--primary-typo-7);
      border-right: 1.5px solid var(--linea-gris-margen);
      border-top: 1.5px solid var(--linea-gris-margen);
      border-bottom: 1.5px solid var(--linea-gris-margen);
      box-shadow: var(--sombra);
    }
    .contenedor-pregunta.activa .pregunta p{
      color: var(--primary-typo-7);
    }
  .pregunta{
    text-align: left;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }
  .contenedor-preguntas-frecuentes .preguntas p{
    color: var(--secondary-typo-7);
  }
  .respuesta{
    text-align: left;
    max-height: 0;
    opacity: 0;
    transition: .2s ease all;
  }
  .contenedor-pregunta.activa .respuesta{
    opacity: 1;
  }
  .contenedor-pregunta.activa svg {
    transform: rotate(180deg);
  }
  .contenedor-pregunta.activa path{
    fill: var(--primary-typo-7);
  }
 .preguntas a,
a:visited,
a:hover,
a:focus{
  color: inherit;
  text-decoration: none;
}
  /* ////////////////////TERMINA------PREGUNTAS///////////////// */
/* ////////////////////MEDIA QUERYS///////////////// */
@media (max-width: 1350px){
  .categorias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 900px){
    .categoria svg{
      width: 35px;
    }
    .flecha-baja svg {
      width: 15px;
    }
    .categoria{
      padding-top: var(--spacer-xs);
    }
    .contenedor-pregunta.activa .respuesta{
      padding-left: var(--spacer-s);
      padding-top: 0;
      padding-bottom: 0;
      padding-right: var(--spacer-m);
    }
    .contenedor-preguntas-frecuentes{
      text-align: center;
    }
  .contenedor-pregunta{
    padding-left: var(--spacer-xs);
    padding-right: var(--spacer-xs);
    padding-top: var(--spacer-s);
    padding-bottom: var(--spacer-xs);
  }
  .est-boton-agendacita-pf-pg{
    display: none;
}
.est-boton-agendacita-pf-pp{
    display: flex;
    justify-content: center;
    padding-bottom: var(--spacer-l);
    padding-top: var(--spacer-l);
}
}

@media (max-width: 700px){
  .instrucciones{
    display: block;
    font: var(--font-1);
    font-size: var(--text-title);
    font-weight: 600;
    color: var(--secondary-typo-7);
  }
  .categorias{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-top: var(--spacer-s);
    margin-left: var(--spacer-m);
    margin-right: var(--spacer-m);
  }
  .categoria{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-top: var(--spacer-xs);
    padding-bottom: var(--spacer-xs);
    border-radius: var(--spacer-m);
    border: 1px solid var(--linea-gris-margen);
  }
  .categoria.activa{
    border: 1.5px solid var(--primary-typo-3);
    box-shadow: var(--sombra);
  }
  .categoria p{
    margin-left: 1em;
    margin-bottom: 0;
  }
  .respuesta{
    text-align: justify;
  }
  .contenedor-pregunta.activa .respuesta{
    padding: .5em;
  }
  .contenedor-pregunta p{
    margin-bottom: .1em;
  }
  .categorias .categoria p{
  font-size: var(--text-contenido-simple-menu);
}
.preguntas {
  margin-top: var(--spacer-m);
}
}

@media (max-width: 500px){

}

@media (max-width: 320px){
    
}


/* .categoria{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--primary-background-body1);
  border: 2px solid transparent;
  transition: .2s ease all;
  padding-top: var(--spacer-s);
} */