
<div class="barra-inicio">
      <div class="container grid col-12">
          <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4">
            <p class="frase-inicio"><strong>Obten beneficios y descuentos</strong><strong>•</strong>Escanea el código QR para más información en tu whatsapp<a class="envia-mensaje" href="/contacto/#link-medios-contacto"><span class="font-cel"><strong>55 2084 6021</strong></span><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><defs><style>.cls-7{fill:#313d4e;}</style></defs><path id="flecha" class="cls-7" d="M24.83,16.1l-9.74,9.74a1.7,1.7,0,0,1-2.43,0l-1.61-1.61a1.7,1.7,0,0,1,0-2.43L18,14.89,11.05,8a1.7,1.7,0,0,1,0-2.43l1.61-1.63a1.7,1.7,0,0,1,2.43,0l9.74,9.74A1.7,1.7,0,0,1,24.83,16.1Z"/></svg></a></p>
                <div class="frase-inicio-whatsapp-icon"><p class="frase-inicio-small"><strong>Obten beneficios y descuentos</strong><br> envianos un whatsapp</p><a class="icono_whatsapp" href="https://api.whatsapp.com/send/?phone=5520846021&text=Hola%20me%20gustaria%20saber%20mas%20acerca%20de%20&app_absent=0" target="_blank"><img src="/assets/images/iconos_redes/whatsapp_azul.svg" alt="whatsapp"></a>
                </div>
          </div>
      </div>
</div>

<div class="header container">
                <a class="header-logo" href="/">
                  <img src="/assets/images/logo_cio_verde.svg" alt="ci-oftalmología">
                </a>
                <button class="hamburger hamburger--squeeze header-nav-icon" type="button" aria-label="Menu" aria-controls="navigation">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                </button>
                <div class="menu-principal container">
                      {% set navPages = collections.all | eleventyNavigation %}
                          <div class="nav">
                            {%- for elemento in navPages %}
                              <a href="{{ elemento.url | url }}"
                                {% if elemento.url == page.url %} class="active"{% endif %}
                              >
                                {{ elemento.title }}
                              </a>
                            {%- endfor %}
                          </div>
                </div>
</div>

        <div class="sub-menu">
              <div class="container centra-sub">
                {% for item in submenuPF %}
                  <a href="{{item.url}}">{{item.name}}</a>
                {% endfor %}
              </div>
        </div>