.content p,
.content h1,
.content h2{
  padding: var(--spacer-m);
  text-align: center;
}

.l-spacing p{
  letter-spacing: .01px;
}

@media (max-width: 900px){
  .l-spacing p{
    letter-spacing: .2px;
}
  }