.fondo-contacto{
  height: min-content;
  background-color: var(--secondary-background);
  padding-top: var(--spacer-xl);
}
.caja-contacto{
  background-color: var(--secondary-background);
}
.caja-contacto h2{
  color: var(--secondary-typo-subtitulos);
}
.maps-footer-pg{
  cursor: pointer;
  border: 0;
  background-color: transparent;
  display: block;
}
.maps-footer-pp{
  cursor: pointer;
  border: 0;
  background-color: transparent;
  display: none;
}
.maps-pin-icon{
  width: 30px;
  height: auto;
}
ul,
label,
.caja-contacto p,
.color-letra-maps,
.pie-convenios-subtitle h2{
  color: var(--primary-background-body1);
}
.logo-cio img{
  width: 180px;
  height: auto;
}
.icono-redes{
  width: 35px;
}
svg:hover #fb,
svg:hover #ig,
svg:hover #lk,
svg:hover #fq,
svg:hover #ws,
svg:hover #pin-maps{
  fill: var(--secondary-background-green);
  transition: .3s ease all;
}
.linea-maps svg:hover,
.mantente-conectado svg:hover{
  transform: translateY(-2px);
  transition: .3s ease all;
}
.linea-maps{
  display: flex;
  align-items: baseline;
}
.pie-terminos a:hover,
.linea-maps p:hover,
.centro_evaluacion a:hover{
  color: var(--secondary-background-green);
  transition: .3s ease all;
}
.linea_redes{
  display: flex;
  justify-content: last baseline;
  align-items: center;
  gap: 2em;
}
.mantente-conectado,
.quienes-somos,
.visita-blog,
.trabaja-nosotros,
.suscribete-promociones,
.lista-menu-rapido,
.formas-pago,
.pie-terminos,
.cont-pie-seguros{
  border-top: 1.2px solid var(--border-top);
  padding-bottom: 1em;
}
.lista-menu-rapido{
  line-height: 2em;
}
.pie-terminos a:hover,
.lista-menu-rapido a:hover,
.pie-convenios-subtitle a:hover,
.pie-convenios-subtitle h2:hover{
  color: var(--secondary-background-green);
  font-weight: 500;
  transition: .3s ease all;
}
.pie-convenios-subtitle svg{
  width: 9.5px;
}
.pie-convenios-subtitle svg:hover{
  transform: translateX(5px);
  transition: .3s ease all;
}
.pie-convenios-subtitle path:hover{
  fill: var(--secondary-background-green);
}
.formas-pago a,
.centro_evaluacion a,
.pie-terminos a,
.trabaja-nosotros a,
.linea-maps a,
.lista-menu-rapido a,
a:visited,
a:hover,
a:focus{
  color: inherit;
  text-decoration: none;
}
.centro_evaluacion,
.ubicacion{
  padding-bottom: 1.5em;
}
.pie-terminos{
  display: flex;
  justify-content: space-between;
  padding-top: var(--spacer-m);
}
.cont-pie-seguros{
  padding-top: .5em;
}
.pie-seguros img{
  width: 80px;
  height: auto;
}
.pie-seguros{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  justify-items: center;
  padding-top: 1.5em;
  gap: .5em;
  align-items: center;
}
.mantente-conectado h2,
.ubicacion h2{
  padding-bottom: .8em;
}
.formas-pago img{
  width: 45px;
}
.linea-formas-pago{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-items: center;
  padding-top: 1.5em;
  gap: .5em;
  align-items: center;
}
 /* ////////////////FORMULARIO///////////////// */
    .correo-form input[type=text],
    .correo-form input[type=tel],
    .correo-form input[type=email],
    .correo-form input[type=date]{
      background-color: var(--caja-formulario);
      border: 1.5px solid var(--border-top);
      width: 100%;
      height: var(--spacer-m);
      appearance: none;
      -webkit-appearance: none;
      -ms-appereance: none;
      -moz-appearance: none;
      padding: 6px;
      border-radius: 5px;
      outline: none;
      font-family: var(--font-1);
}
    .correo-form input[type=text]:focus,
    .correo-form input[type=tel]:focus,
    .correo-form input[type=email]:focus,
    .correo-form input[type=date]:focus,
    .correo-form input[type=text]:valid,
    .correo-form input[type=tel]:valid,
    .correo-form input[type=email]:valid,
    .correo-form input[type=date]:valid{
      border: none;
      background-color: var(--primary-background-body);
    }
.suscribete-promociones input[type=checkbox]:checked + label{
  font-weight: 500;
}
.check-condiciones{
  padding-top: var(--spacer-s);
}
.suscribete-promociones select{
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.boton-enviar-pie{
  padding-top: var(--spacer-s);
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  background-color: transparent;
  border-radius: var(--spacer-xs);
  color: var(--secondary-typo-subtitulos);
  font-weight: 500;
  font-family: var(--font-1);
  font-size: var(--text-contenido-simple);
  text-align: left;
  transition: .2s ease all;
}
.centra-submit{
  display: flex;
  justify-content: start;
}
.boton-enviar-pie:hover{
  cursor: pointer;
  font-weight: 600;
}
 /* ////////////////////////MEDIA QUERYS/////////////////// */
@media (max-width: 1350px){
  .caja-contacto p{
    text-align: justify;
  }
}
@media (max-width: 900px){
  .fondo-contacto{
    padding-top: var(--spacer-s);
  }
}
@media (max-width: 700px){
  .pie-terminos{
      flex-direction: column;
      text-align: center;
  }
  .pie-seguros img{
    width: 70px;
  }
}
@media (max-width: 500px){
  .pie-seguros img{
    width: 65px;
  }
  .maps-footer-pg{
    display: none;
  }
  .maps-footer-pp{
    display: block;
  }
}
@media (max-width: 320px){
  .fondo-contacto{
    padding-top: var(--spacer-xs);
  }
}