---
layout: layouts/full-cirugia-refractiva.njk
title: Cirugia Refractiva - clínica de oftalmología
description:¿Los lentes de contacto te cansan y te irritan los ojos? Acude con nosotros a una valoración oftalmológica y averigua si eres candidato o candidata a la cirugía de corrección visual. Visita la óptica, tenemos mas de 15 años de experiencia corrigiendo los principales problemas refractivos, hipermetropia miopia y astigamtismo, tenemos soluciones para vista cansada y cirugía oculoplástica.
eleventyNavigation:
  key: Cirugia
  title: Cirugia Refractiva
  order: 20
---
<!------- BOTON STICKY ------>
<div class="boton-sticky"><a href="#"><img src="/assets/images/iconos/arrow-up.svg" alt="flecha-sube">INICIO</a></div>
<!---- CITRUGIA REFRACTIVA ---->
<div class="contenedor-cirugia-refractiva" id="link-cirugia-refractiva">
          <div class="container grid espaciado-bloques" id="link-cirugia-refractiva">
                    <div class="col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4 l-spacing">
                        <h1 class="text-headline font-1"><span class="linea">|</span>    Cirugía Refractiva</h1>
                        <p class="text-subheader font-1">Partimos siempre de una <strong> Valoración Oftalmológica exhaustiva</strong></p>
                        <p class="text-contenido-simple font-contenido-simple">Estamos comprometidos antes que nada con tu salud visual, con esa finalidad partimos siempre de una valoración oftalmológica exhaustiva para así poder determinar si una persona es candidato o candidata a la <strong>cirugía refractiva,</strong> para dejar de usar lentes.<br><br>Para saber si eres candidato es necesario acudir a la valoración en donde un especialista determinará un tratamiento personalizado y el más adecuado para cada paciente con el objetivo de obtener los mejores resultados.<br><br>La cirugía es efectiva, segura y de recuperación rapida ¡el mismo día te vas a casa!<br><br><strong>BENEFICIOS:</strong> La cirugía refractiva o cirugía láser te permite liberarte de los anteojos y lentes de contácto, recupera tu vista de cerca y de lejos de día y de noche.</p>
                    </div>
                    <div class="col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4 imagen-de-cirugia">
                    <img src="/assets/images/cirugia_refractiva_2.svg" alt="cirugía-refractiva">
                    </div>
<!---- boton solicita+info ----><a class="col-12 est-boton-agendacita-cr" href="/contacto/#link-medios-contacto"><button type="button" class="boton-agendacita-cr">Solicita más información<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><defs><style>.cls-22{fill:#1B3866;}</style></defs><path d="M112 111v290c0 17.44 17 28.52 31 20.16l247.9-148.37c12.12-7.25 12.12-26.33 0-33.58L143 90.84c-14-8.36-31 2.72-31 20.16z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg></button></a>
          </div>
</div>
<!---- CONVENIO CON ASEGURADORAS ---->
<div class="contenedor-aseguradoras">
          <div class="container grid col-12 espaciado-bloques">
                    <div class=" titulo-blq-aseguradoras col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4" id="link-convenio-aseguradoras">
                        <h1 class="text-headline font-1"><span class="linea">|</span>    Convenio con Compañías Aseguradoras</h1>
                        <p class="text-subheader font-1">a través de estos convenios los asegurados se podrán beneficiar de condiciones economicas especiales</p>
                    </div>
                    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 l-spacing"><p class="text-contenido-simple font-contenido-simple">Mantenemos acuerdos con las principales compañias aseguradoras del país para favorecer el acceso a los pacientes a todo tipo de servicios oftalmológicos desde consultas, estudios y hasta intervenciones quirúrgicas, a través de estos convenios los asegurados se podrán beneficiar de condiciones economicas especiales en algunos de nuestros tratamientos simplemente identificandose al pedir una cita en alguno de nuestros centros.</p></div>
                    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 contenedor-iconos-seguros">
                          <div class="seguro seg2"><img src="/assets/images/iconos_seguros/seguros-atlas.svg" alt="aseguradora_atlas"></div>
                            <div class="seguro seg1"><img src="/assets/images/iconos_seguros/seguros-gnp.svg" alt="aseguradora_gnp"></div>
                              <div class="seguro seg3"><img src="/assets/images/iconos_seguros/seguros-allianz.svg" alt="aseguradora_allianz"></div>
                                  <div class="seguro seg4"><img src="/assets/images/iconos_seguros/seguros-axa.svg" alt="aseguradora_axa"></div>
                                    <div class="seguro seg5"><img src="/assets/images/iconos_seguros/seguros-mapfre.svg" alt="aseguradora_mapfre"></div>
                                      <div class="seguro seg6"><img src="/assets/images/iconos_seguros/seguros-metlife.svg" alt="aseguradora_metlife"></div>
                                      <div class="seguro seg7"><img src="/assets/images/iconos_seguros/seguros-monterrey.svg" alt="aseguradora_monterrey"></div>
                                    <div class="seguro seg8"><img src="/assets/images/iconos_seguros/seguros-zurich.svg" alt="aseguradora_zurich"></div>
                                  <div class="seguro seg9"><img src="/assets/images/iconos_seguros/seguros-bbva.svg" alt="aseguradora_bbva"></div>
                              <div class="seguro seg10"><img src="/assets/images/iconos_seguros/seguros-mediaccess.svg" alt="aseguradora_mediaccess"></div>
                            <div class="seguro seg10"><img src="/assets/images/iconos_seguros/seguros-sisnova.svg" alt="aseguradora_sisnova"></div>
                          <div class="seguro seg10"><img src="/assets/images/iconos_seguros/seguros-planseguro.svg" alt="aseguradora_planseguro"></div>
                    </div>
<!---- boton solicita+info ----><a class="col-12 est-boton-agendacita-cr" href="/contacto/#link-medios-contacto"><button type="button" class="boton-agendacita-cr">Solicita más información<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><defs><style>.cls-22{fill:#1B3866;}</style></defs><path d="M112 111v290c0 17.44 17 28.52 31 20.16l247.9-148.37c12.12-7.25 12.12-26.33 0-33.58L143 90.84c-14-8.36-31 2.72-31 20.16z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg></button></a>
          </div>
</div>