---
layout: layouts/full-contacto.njk
title: Contacto - clínica de oftalmología
description: Contacto clinica, atendemos cualquier afeccion visual, catarata, retinopatia diabetica, glaucoma, degeneracion macular, chalazion, pterigion, obstruccion de vias lagrimales, blefaroplastia, traumas oculares, queratocono, envianos un whatsapp, estamos en ciudad de mexico frente a wtc.
eleventyNavigation:
  key: contacto
  title: Contacto
  order: 40
---
<!---- CABECERA-CONTACTO ---->
<div class="contenedor-cabecera-contacto-pg">
    <div class="container grid est-cabecera-contacto">
            <div class="texto-grande-cabecera-contacto col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4 l-spacing"><h1 class="text-jumbo font-1">Decídete.. y quitate los lentes para siempre.</h1><p>Que usar lentes sea por elección.</p>
<!---- boton baja PG ----><a href="#link-medios-contacto" class="est-boton-baja" id="enlace-agendacita"><button type="button" class="boton-baja"><span class="icono-baja"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><defs><style>.cls-15{fill:#FFFFFF;}</style></defs><path class="cls-15" d="M15,21.44,3.2,9.69a1.46,1.46,0,0,1,0-2L4.57,6.27a1.44,1.44,0,0,1,2.05,0L16,15.58l9.35-9.31a1.44,1.44,0,0,1,2.05,0l1.37,1.37a1.44,1.44,0,0,1,0,2.05L17,21.44a1.44,1.44,0,0,1-2.05,0Z"/></svg></span></button></a>
            </div>
        <!---- div vacio en HTML contiene la imagen de CSS---->
                    <div class="col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4 imagen-insertada">
                    </div>
    </div>
</div>
<!---- CABECERA-CONTACTO PANTALLA PEQUENA ---->
                            <div class="contenedor-cabecera-contacto-pp grid est-cabecera-contacto">
                                <div class="col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4 imagen-insertada">
                                    <h1 class="text-jumbo font-1 container">Decídete.. y quitate los lentes para siempre.</h1><p class="container">Que usar lentes sea por elección.</p>
<!---- boton baja PG ----><a href="#link-medios-contacto" class="est-boton-baja container" id="enlace-agendacita"><button type="button" class="boton-baja"><span class="icono-baja"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><defs><style>.cls-15{fill:#FFFFFF;}</style></defs><path class="cls-15" d="M15,21.44,3.2,9.69a1.46,1.46,0,0,1,0-2L4.57,6.27a1.44,1.44,0,0,1,2.05,0L16,15.58l9.35-9.31a1.44,1.44,0,0,1,2.05,0l1.37,1.37a1.44,1.44,0,0,1,0,2.05L17,21.44a1.44,1.44,0,0,1-2.05,0Z"/></svg></span></button></a>
                                </div>
                            </div>
<!------- BOTON STICKY ------>
<div class="boton-sticky"><a href="#"><img src="/assets/images/iconos/arrow-up.svg" alt="flecha-sube">INICIO</a></div>
<!---- CONTACTO ---->
<div class="fondo">
    <div class="col-12 container grid espaciado-bloques" id="link-medios-contacto">
                      <div class="container col-12 titulo-bloque-center">
                        <h1 class="text-headline font-1"><span class="linea">|</span>  Contacto</h1>
                        <p class="text-subheader font-1">La comunicación nuca fue más facil, aquí los medios para acercate a nosotros.<br>Estamos para ayudarte !</p>
                      </div>
                  <div class="col-12 grid caja-contactanos l-spacing">
                      <h1 class="col-12 text-headline font-1 frase-center frase-whatsapp-pg">Escanea con tu smartphone el código QR agenda tu cita por whatsapp</h1>
                      <div class="col-4 col-md-10 col-sm-8 col-xs-6 container centrar-contenido">
                      <div class="icono-llamada"><img src="/assets/images/iconos/atencioncliente.svg" alt="joven-atencion-a-clientes"></div>
                            <h2>Linea telefónica</h2>
                            <p class="frase-whatsapp-pg">Con gusto te atendemos  y resolvemos todas tus dudas en nuestras lineas telefónicas.<br><br>55 2084 6021<br>55 2084 6021</p>
                                <p class="frase-whatsapp-pp">Solicíta más información y resuelve tus dudas, estamos para ayudarte.<br> O agenda tu cita por teléfono.</p>
<!---- boton call pantalla pequena----><a href="tel:5520846021" class="boton-call" onclick="return (navigator.userAgent.match(/android | iphone | movile /i)) !=null;"><button type="button" class="boton-call-pp">Hacer llamada<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><defs><style>.cls-22{fill:#1B3866;}</style></defs><path d="M112 111v290c0 17.44 17 28.52 31 20.16l247.9-148.37c12.12-7.25 12.12-26.33 0-33.58L143 90.84c-14-8.36-31 2.72-31 20.16z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg></button></a>
    </div>
                        <div class="col-4 col-md-10 col-sm-8 col-xs-6 container centrar-contenido">
                                <div class="icono-whatsapp-asignado"><img src="/assets/images/iconos/qr-whatsapp-cio-asignado.svg" alt="qr_whatsapp">
                                </div>
                                <div class="icono-whatsapp-dummy"><img src="/assets/images/iconos_redes/whatsapp_azul2.svg" alt="whatsapp_logo">
                                </div>
                                    <h2>Envíanos un whatsapp</h2>
                                        <p class="frase-whatsapp-pg">Solo escanea con tu smartphone el codigo QR y envianos mensaje directo.</p>
                                        <p class="frase-whatsapp-pp">Agenda tu cita por whatsapp, envianos un mensaje directo.</p>
<!---- boton whatsapp pantalla pequena ----><a href="https://wa.me/525520846021" target="_blank"><button type="button" class="boton-whatsapp-pp">Enviar whatsapp<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><defs><style>.cls-22{fill:#1B3866;}</style></defs><path d="M112 111v290c0 17.44 17 28.52 31 20.16l247.9-148.37c12.12-7.25 12.12-26.33 0-33.58L143 90.84c-14-8.36-31 2.72-31 20.16z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg></button></a>
                                 </div>
                        <div class="col-4 col-md-10 col-sm-8 col-xs-6 container centrar-contenido">
                                    <div class="icono-calendario"><img src="/assets/images/iconos/horarios.svg" alt="horarios"></div>
                                    <h2>Horarios de servicio</h2>
                                    <div class="lista-info-horarios">
                                        <p>Lunes a Viernes de 9:00 a 17:00 hrs.</p>
                                        <p>Sábados de 10:00 a 14:00 hrs</p>
                                    </div>
                        </div>
<!---- boton programa cita PG ----><a href="#link-agenda-cita" class="col-12 est-boton-agendacita" id="enlace-agendacita"><button type="button" class="boton-agendacita-contacto"> <span class="texto--agendacita">Programa tu cita</span><span class="icono--agendacita"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><defs><style>.cls-8{fill:#173159;}</style></defs><path class="cls-8" d="M15,21.44,3.2,9.69a1.46,1.46,0,0,1,0-2L4.57,6.27a1.44,1.44,0,0,1,2.05,0L16,15.58l9.35-9.31a1.44,1.44,0,0,1,2.05,0l1.37,1.37a1.44,1.44,0,0,1,0,2.05L17,21.44a1.44,1.44,0,0,1-2.05,0Z"/></svg></span></button></a>
                    </div>
    </div>
</div>
<!---- UBICACION ---->
<div class="contenedor-ubi">
          <div class="container grid col-12 espaciado-bloques">
                    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 titulo-completo-maps" id="link-ubicacion">
                        <div class="titulo-con-imagen-maps">
                            <h1 class="text-headline font-1">|  Ubicación Sucursal CDMX.</h1><span class="icono-de-mapas-color">
                            <a data-fancybox
                            data-type="iframe"
                            data-preload="false"
                            data-width="640"
                            data-height="450"
                            href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3763.4445077673295!2d-99.1744877!3d19.393191!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd0fe14f5eeda2203!2sCentro%20Integral%20de%20Oftalmolog%C3%ADa!5e0!3m2!1ses-419!2smx!4v1635352082609!5m2!1ses-419!2smx"><img src="/assets/images/iconos_mapas/Google_Art.svg" alt="google-maps"></a></span>
                        </div>
                            <p class="text-subheader font-1">Av. Insurgentes Sur 716 piso 8, Colonia del Valle, Ciudad de México, frente a Polyforum Siquerios.</p>
                        </div>
                    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 imagen-ubicacion">
                            <div class="imagen-1-pgde"><a href="https://goo.gl/maps/xVPZmAe7xhXYUHyz8" target="_blank"><img src="/assets/images/mapa_clinica.png" alt="mapa_clínica"><span class="mapa-overlay">Click para ver en Google Maps</span></a></div>
                            <div class="imagen-1-ppeq"><img src="/assets/images/mapa_clinica_cel_1x.png" alt="mapa_clínica"></div>
                    </div>
                        <div class="container botones-go col-12">
                        <span class="instrucciones-navegacion">Si llegaste hasta aquí ..<br>elige indicaciones para llegar</span>
<!---- boton navega waze ----><a href="https://ul.waze.com/ul?place=ChIJffsNNBT_0YURAyLa7vUU_tA&ll=19.39319100%2C-99.17229900&navigate=yes&utm_campaign=waze_website&utm_source=waze_website&utm_medium=lm_share_location" target="_blank" class="est-boton-waze"><button class="boton-waze" type="button" id="enlace-navega-go"><span class="texto--button"><img src="/assets/images/iconos_mapas/navega_linea_waze.svg" alt="google-maps"></span><span class="icono--button"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#313d4e" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></span></button></a>
<!---- boton navega maps ----><a href="https://goo.gl/maps/xVPZmAe7xhXYUHyz8" target="_blank" class="est-boton-g-maps" id="enlace-g-maps"><button class="boton-g-maps" type="button"><span class="texto--button"><img src="/assets/images/iconos_mapas/navega_linea_maps.svg" alt="google-maps"></span><span class="icono--button"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#313d4e" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></span></button></a>
                        </div>
          </div>
</div>
<!---- FORMULARIO ---->
<div class="contenedor-formulario">
          <div class="container grid espaciado-bloques">
                    <div class="col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4 titulo-bloque-form l-spacing" id="link-agenda-cita">
                        <h1 class="text-headline font-1"><span class="linea">|</span>    Agenda tu cita</h1>
                        <p class="text-subheader font-1">Habla con un experto !</strong></p>
                        <p class="text-contenido-simple font-contenido-simple">Esta sección es para enviar un mensaje solicitando una cita programada, puedes seleccionar una fecha tentativa y a la brevedad un asesor se pondra en contacto contigo para definir el mejor horario y los espacios de cita disponibles, tambien te ayudara a resolver todas tus dudas.<br>Utiliza el filtro si así lo deseas para que tu peticion sea tomada en cuenta a la brevedad.<br> Estamos par ayudarte !</p>
                    </div>

                    <div class="col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4 l-spacing">
                        <div class="caja-formulario">
                                         <div class="container col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 encabezado-form">
                                                <p class="text-contenido-simple-menu font-contenido-simple">¿ Quieres agendar tu cita ? <br>Selecciona una fecha tentativa y un asesor se pondra en contacto para confirmar tu cita o para resolver tus dudas.</p>
                                                </div>
                                                      <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 centra-formas">
                                                        <form action="/gracias_form/" name="contact" data-netlify="true" class="contacto-form">
                                                            <div class="selecciona-opcion"><label for="">Selecciona una opción</label>
                                                                <select name="opciones de filtro" id="opciones">
                                                                <option value="disabled" disabled selected>Utiliza el filtro para agilizar tu petición.</option>
                                                                <option value="Interesado en laser">Valoración cirugía laser</option>
                                                                <option value="Interesado en salud visual">Cita salud visual</option>
                                                                <option value="Interesado en estudios">Estudios</option>
                                                                <option value="Interesado en una vacante">Vacantes</option>
                                                                <option value="Otros">Otro</option>
                                                                </select>
                                                            </div>
                                                                <div>
                                                                <label class="custom-field"><input type="text" name="nombre" required maxlength="25">
                                                                <span class="custom-placeholder">Nombre</span>
                                                                </label>
                                                                </div>
                                                                    <div>
                                                                    <label class="custom-field"><input type="text" name="apellido" required maxlength="25">
                                                                    <span class="custom-placeholder">Apellido</span>
                                                                    </label>
                                                                    </div>
                                                                        <div>
                                                                        <label class="custom-field"><input type="tel" name="telefono" maxlength="10" required placeholder="ingresa solo 10 dígitos sin espacios ej. 5511223344">
                                                                        <span class="custom-placeholder">número telefónico</span>
                                                                        </label>
                                                                        </div>
                                                                            <div>
                                                                            <label class="custom-field"><input type="email" name="email" required placeholder="ejemplo@mail.com">
                                                                            <span class="custom-placeholder">email</span>
                                                                            </label>
                                                                            </div>
                                                                                <div class="fecha-cita">
                                                                                <label for="date">* opcional  - selecciona una fecha tentativa</label>
                                                                                <input type="date" name="fecha que deseo una cita" id="selecciona_fecha">
                                                                                </div>
                                                                                     <div class="mensaje-formulario">
                                                                                     <label for="mensaje">Mensaje</label>
                                                                                     <textarea name="mensaje" rows="5" placeholder="Si seleccionaste una fecha tentativa en el calendario un asesor te contactara para confirmar los horarios disponibles y confirmara tu cita. Consulta los horarios de atención." required/></textarea>
                                                                                     </div>
                                                                                        <div class="condiciones">
                                                                                        <input type="checkbox" name="check" id="acepto" required>
                                                                                            <label for="check">
                                                                                            Acepto condiciones
                                                                                            </label>
                                                                                        </div>
                                                            <div class="cuadra-boton-submit"><button class="boton-enviar" type="submit">Enviar<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><defs><style>.cls-22{fill:#1B3866;}</style></defs><path d="M112 111v290c0 17.44 17 28.52 31 20.16l247.9-148.37c12.12-7.25 12.12-26.33 0-33.58L143 90.84c-14-8.36-31 2.72-31 20.16z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg></button></div>
                                                        </form>
                                                      </div>
                        </div>
                    </div>
          </div>
</div>