---
layout: layouts/full-contacto.njk
title: Contacto
eleventyNavigation:
  key: contacto
  title: Contacto
  order: 40
---
<!---- CABECERA-CONTACTO ---->
<div class="contenedor-cabecera-contacto-pg">
    <div class="cabecera-pantalla-grande-contacto">
        <div class="texto-grande-cabecera-contacto container"><h1 class="text-jumbo font-1">Agenda tu cita para quitarte los lentes </h1></div>
    </div>
</div>
<!------- BOTON STICKY ------>
<div class="boton-sticky"><a href="#"><img src="/assets/images/iconos/arrow-up.svg" alt="flecha-sube">INICIO</a></div>
<!---- CONTACTO ---->
<div class="fondo">
    <div class="col-12 container grid espaciado-bloques" id="link-medios-contacto">
                      <div class="container col-12 titulo-bloque-center">
                        <h1 class="text-headline font-1"><span class="linea">|</span>   Contacto</h1>
                        <p class="text-subheader font-1">acercate a nosotros, estamos para ayudarte.</p>
                      </div>
                  <div class="col-12 grid caja-contactanos">
                      <h1 class="col-12 text-headline font-1 frase-center frase-whatsapp-pg">Escanea con tu smartphone el código QR agenda tu cita por whatsapp</h1>
                      <div class="col-4 col-md-10 col-sm-8 col-xs-6 container centrar-contenido">
                      <div class="icono-llamada"><a href="tel:5544491344" class="btn-llamar" onclick="return (navigator.userAgent.match(/android | iphone | movile /i)) !=null;"><img src="/assets/images/iconos/atencioncliente.svg" alt="joven-atencion-a-clientes"></a></div>
                            <h2>Teléfono citas</h2>
                            <p class="frase-whatsapp-pg">Con gusto te atendemos  y resolvemos todas tus dudas en nuestras lineas telefónicas.<br><br>55 44491344 <br>55 11223344</p>
                            <p class="frase-whatsapp-pp">Presiona el icono para agendar tu cita por llamada<br><br>55 44491344 <br>55 11223344</p>
                        </div>
                        <div class="col-4 col-md-10 col-sm-8 col-xs-6 container centrar-contenido">
                                <div class="icono-whatsapp-asignado"><img src="/assets/images/iconos/whatsapp-asignado.svg" alt="qr_whatsapp">
                                </div>
                                <div class="icono-whatsapp-dummy"><a href="https://wa.me/525544491344" target="_blank"><img src="/assets/images/iconos_redes/whatsapp_azul2.svg" alt="whatsapp_logo"></a>
                                </div>
                                    <h2>Envíanos un whatsapp</h2>
                                    <p class="frase-whatsapp-pg">Solo escanea el codigo QR y envianos mensaje directo.</p>
                                    <p class="frase-whatsapp-pp">Presiona el icono para agendar tu cita por whatsapp</p>
                                 </div>
                        <div class="col-4 col-md-10 col-sm-8 col-xs-6 container centrar-contenido">
                                    <div class="icono-calendario"><img src="/assets/images/iconos/horarios.svg" alt="horarios">
                                    </div>
                                    <h2>Horarios de servicio</h2>
                                    <div class="lista-info-horarios">
                                    <p>Lunes a Viernes de 9:00 a 17:00 hrs.</p>
                                    <p>Sábados de 10:00 a 14:00 hrs</p>
                                    </div>
                        </div>
                        <button class="col-12 boton-agendacita-contacto"><a href="#link-agenda-cita" class="lanzador-agendacita" id="enlace-agendacita">Programar una cita</a></button>
                    </div>
    </div>
</div>

<!---- UBICACION ---->
<div class="contenedor-ubi">
          <div class="container grid col-12 espaciado-bloques">
                    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4" id="link-ubicacion">
                        <div class="icono-maps-color"><a href="https://goo.gl/maps/xVPZmAe7xhXYUHyz8" target="_blank"><h1 class="text-headline font-1 titulo-con-imagen-maps"><span class="linea">|</span>    Ubicación Sucursal CDMX.<img src="/assets/images/iconos_mapas/Google_Art.svg" alt="google-maps"></h1></a></div>
                        <p class="text-subheader font-1">Insurgentes Sur 716 piso 8, Colonia del Valle, Ciudad de México, frente a Polyforum Siquerios.</p>
                    </div>
                    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 imagen-ubicacion">
                            <div class="imagen-1"><a href="https://goo.gl/maps/xVPZmAe7xhXYUHyz8" target="_blank"><img src="/assets/images/mapa_clinica.png" srcset="/assets/images/mapa_clinica.png 2611w, /assets/images/mapa_clinica-cel-1x.png 684w" alt="mapa_clínica"><span class="mapa-overlay">Click para ver en Google Maps</span></a></div>
                    </div>
                        <div class="container botones-go col-12">
                            <button class="boton-waze"><a href="https://ul.waze.com/ul?place=ChIJffsNNBT_0YURAyLa7vUU_tA&ll=19.39319100%2C-99.17229900&navigate=yes&utm_campaign=waze_website&utm_source=waze_website&utm_medium=lm_share_location" target="_blank" class="lanzador-waze" id="enlace-waze">Navega en Waze<span class="arrow-space"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#313d4e" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></span></a></button>
                            <button class="boton-g-maps"><a href="https://goo.gl/maps/xVPZmAe7xhXYUHyz8" target="_blank" class="lanzador-g-maps" id="enlace-g-maps">Navega en Google+maps<span class="arrow-space"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#313d4e" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></span></a></button>
                        </div>
          </div>
</div>
<!---- FORMULARIO ---->
<div class="contenedor-formulario">
          <div class="container grid espaciado-bloques">
                    <div class="col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4 titulo-bloque-form" id="link-agenda-cita">
                        <h1 class="text-headline font-1"><span class="linea">|</span>    Agenda tu cita</h1>
                        <p class="text-subheader font-1">Habla con un experto ..</strong></p>
                        <p class="text-contenido-simple font-contenido-simple">Esta sección es para enviar un mensaje solicitando una cita programada, puedes seleccionar una fecha tentativa y a la brevedad un asesor se pondra en contacto contigo para definir el mejor horario y los espacios de cita disponibles, tambien te ayudara a resolver todas tus dudas.<br>Utiliza el filtro si así lo deseas para que tu peticion sea tomada en cuenta a la brevedad.<br> Estamos par ayudarte !</p>
                    </div>

                    <div class="col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4">
                        <div class="caja-formulario">
                                         <div class="container col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 encabezado-form">
                                                <p class="text-contenido-simple-menu font-contenido-simple">¿ Quieres agendar tu cita ? <br>Selecciona una fecha tentativa y un asesor se pondra en contacto para confirmar tu cita o para resolver tus dudas.</p>
                                                </div>
                                                      <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 centra-formas">
                                                        <form class="contacto-form">
                                                            <div class="selecciona-opcion"><label for="">Selecciona una opción</label>
                                                                <input type="text" list="opciones" placeholder="Esta casilla es opcional">
                                                                <datalist id="opciones">
                                                                <option>CITA VALORACIÓN - CIRUGÍA LÁSER</option>
                                                                <option>CITA - SALUD VISUAL</option>
                                                                <option>ESTUDIOS</option>
                                                                <option>VACANTES</option>
                                                                <option>OTRO</option>
                                                                </datalist>
                                                            </div>
                                                                <div>
                                                                <label class="custom-field"><input type="text" name="nombre" required maxlength="25">
                                                                <span class="custom-placeholder">Nombre</span>
                                                                </label>
                                                                </div>
                                                                    <div>
                                                                    <label class="custom-field"><input type="text" name="apellido" required maxlength="25">
                                                                    <span class="custom-placeholder">Apellido</span>
                                                                    </label>
                                                                    </div>
                                                                        <div>
                                                                        <label class="custom-field"><input type="tel" name="telefono" maxlength="10" required placeholder="ingresa solo 10 dígitos sin espacios ej. 5511223344">
                                                                        <span class="custom-placeholder">número telefónico</span>
                                                                        </label>
                                                                        </div>
                                                                            <div>
                                                                            <label class="custom-field"><input type="email" name="email" required placeholder="ejemplo@mail.com">
                                                                            <span class="custom-placeholder">email</span>
                                                                            </label>
                                                                            </div>
                                                                                <div class="fecha-cita">
                                                                                <label for="date">* opcional    - selecciona una fecha tentativa</label>
                                                                                <input type="date" id="selecciona_fecha">
                                                                                </div>
                                                                                     <div class="mensaje-formulario">
                                                                                     <label for="mensaje">Mensaje</label>
                                                                                     <textarea name="mensaje" rows="5" placeholder="Si seleccionaste una fecha tentativa en el calendario un asesor te contactara para confirmar los horarios disponibles y confirmara tu cita. Consulta los horarios de atención." required/></textarea>
                                                                                     </div>
                                                                                        <div class="condiciones">
                                                                                        <input type="checkbox" id="acepto" required>
                                                                                        <label for="check">
                                                                                        Acepto condiciones
                                                                                        </label>
                                                                                        </div>
                                                                                            <div class="cuadra-boton-submit"><button class="boton-enviar" type="submit">Enviar</button></div>
                                                        </form>
                                                      </div>
                        </div>
                    </div>
          </div>
</div>