---
layout: layouts/full-thanks.njk
title: Preguntas Frecuentes - clínica de oftalmología
description: Experimenta la libertad de vivir sin lentes somos experto en lasik.
---
<!---- GRACIAS ---->
<div class="pantalla-thanks">
    <div class="col-12 container grid" id="">
          <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 l-spacing container contenedor-thanks">
                      <div class="caja-thanks"><h3>Muchas Gracias !</h3><br><p>Tu mensaje a sido recibido con éxito.</p>
                      <a class="flecha-regresa" href="/contacto/"><button type="button" class="boton-regresa"><span class="icono-back"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg></span><span class="texto-regresa">Regresar a nuestro sitio</span></button></a>
                      </div>
          </div>
    </div>
</div>
