---
layout: layouts/full.njk
title: Centro Intregal
eleventyNavigation:
  key: index
  title: Home
---
<!---- CABECERA ---->
<div class="contenedor-cabecera-pg">
    <div class="container grid cabecera-pantalla-grande">
        <div class="texto-grande-cabecera col-7 col-10"><h1 class="text-jumbo font-1">¿Quieres saber si eres candidato a la cirugía refractiva?</h1>
        <!---- boton landing ----><a class="est-boton-landing" href="/cirugia refractiva/#link-cirugia-refractiva"><button type="button" class="boton-landing">Ver más<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><defs><style>.cls-22{fill:#1B3866;}</style></defs><path d="M112 111v290c0 17.44 17 28.52 31 20.16l247.9-148.37c12.12-7.25 12.12-26.33 0-33.58L143 90.84c-14-8.36-31 2.72-31 20.16z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg></button></a>
        </div>
    </div>
</div>
<!------- BOTON STICKY ------>
<div class="boton-sticky"><a href="#"><img src="/assets/images/iconos/arrow-up.svg" alt="flecha-sube">INICIO</a></div>
<!---- ¿ POR QUE ? ---->
<!---- NUESTRO EQUIPO ---->
<div class="contenedor-nuestro-equipo">
          <div class="container grid col-12 espaciado-bloques" id="link-nuestro-equipo">
                    <div class="col-12 titulo-blq-neq">
                        <h1 class="text-headline font-1"><span class="linea">|</span>    Nuestro Equipo</h1>
                        <p class="text-subheader font-1">Equipos para cirugía láser de ultima generacion  :<br><strong> Visumax</strong> / Visx S4 / Teneo láser excimer</p>
                    </div>
                            <div class="col-4 col-md-10 col-sm-8 col-xs-6 col-xxs-4 content">
                                <div class="titulo-imagen-flex"><h1 class="font-1 text-title">Instalaciones</h1><div class="icono"><img src="assets/images/iconos/pc_medicos.svg" alt="instalaciones"></div></div>
                                    <p class="text-contenido-simple font-contenido-simple">En Centro Integral de Oftalmología trabajamos en un entorno hospitalario de primer nivel, siempre buscamos la seguridad y tranquilidad de nuestros pacientes.<br><br>Desde el año 2020 hemos adoptado con rigurosa atención los estandares y cuidados recomendados por la secretaria de salud en todos nuestros centros de evaluación y hospitales en convenio, todo con la finalidad de cuidar a nuestros visitantes y pacientes.</p>
                            </div>
                                    <div class="col-4 col-md-10 col-sm-8 col-xs-6 col-xxs-4 content">
                                    <div class="titulo-imagen-flex"><h1 class="font-1 text-title">Vanguardia Tecnológica</h1><div class="icono"><img src="assets/images/iconos/termometro.svg" alt="vanguardia tecnológica"></div></div>
                                        <p class="text-contenido-simple font-contenido-simple">Equipos láser de alta precisión que no hacen uso de aparatos mecánicos ni cuchillas, con las técnicas más avanzadas que permiten la más mínima invasión para la corrección visual por láser.<br><br>Todos nuestros equipos son certificados y avalados por la <strong>FDA.</strong><br><br>Equipos alemanes de alta tecnología, novedosos y sofisticados para el diagnostico oportuno de enfermedades realacionadas con la vista.</p>
                                   </div>
                            <div class="col-4 col-md-10 col-sm-8 col-xs-6 col-xxs-4 content">
                            <div class="titulo-imagen-flex"><h1 class="font-1 text-title">Staff Médico</h1><div class="icono"><img src="assets/images/iconos/grupo_medicos.svg" alt="staff médico"></div></div>
                                <p class="text-contenido-simple font-contenido-simple">Médicos certificados y con mas de 20,000 cirugías exitosas que respaldan nuestra experiencia.<br><br>Ten la seguridad que quedaras en las mejores manos, contamos con los mejores especialistas. Corneologos, Retinologos, Estrabologos, esto garantza que tu tratamiento será realizado por un experto para tu diagnóstico.</p>
                            </div>
            </div>
</div>
<!---- SERVICIOS ---->
<div class="contenedor-servicios">
          <div class="container grid col-12 espaciado-bloques">
                    <div class="col-12" id="link-servicios">
                        <h1 class="text-headline font-1"><span class="linea">|</span>    Servicios</h1>
                        <p class="text-subheader font-1">Vemos desde una simple infección hasta transplantes de cornea.</p>
                    </div>
                                <div class="container grid col-12 tarjetas-servicios">
                                <button class="boton-tarjeta">
                                    <div class="titulo-servicios"><img src="assets/images/iconos/1a-consulta-desc-SGMM-marino.svg" alt=""><a href="/contacto/#link-medios-contacto"><h1>Oftalmología General</h1></a></div>
                                    <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>En Centro Integral de Oftalmología vemos desde una simple conjuntivitis hasta transplantes de cornea, contamos con procedimientos y exámenes de calidad para el diagnóstico de enfermedades visuales.</p></a></div>
                                    <div class="pie-servicios"><a href="/contacto/#link-medios-contacto"><p>solicita más Información</p></a></div>
                                </button>
                                    <button class="boton-tarjeta">
                                        <div class="titulo-servicios"><img src="assets/images/iconos/1a-consulta-desc-SGMM-verde.svg" alt=""><a href="/contacto/#link-medios-contacto"><h1><br>Cirugía Refractiva</h1></a></div>
                                        <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>La cirugía refractiva o cirugía láser te permite liberarte de los anteojos y lentes de contácto, para saber si eres candidato es necesario acudir a la valoración en donde un especialista determinará un tratamiento personalizado y el más adecuado para cada paciente.</p></a></div>
                                        <div class="pie-servicios"><a href="/contacto/#link-medios-contacto"><p>solicita más Información</p></a></div>
                                    </button>
                                                <button class="boton-tarjeta">
                                                    <div class="titulo-servicios"><a href="/contacto/#link-medios-contacto"><h1>Consulta con especialistas</h1></a></div>
                                                    <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>En Centro Integral de Oftalmología existen unidades especializadas en la investigación y tratamiento de la mayoría de las patologías oftalmológicas</p></a></div>
                                                    <div class="pie-servicios"><a href="/contacto/#link-medios-contacto"><p>solicita más Información</p></a></div>
                                                </button>
                                                    <button class="boton-tarjeta">
                                                        <div class="titulo-servicios"><a href="/contacto/#link-medios-contacto"><h1>Oftalmología Pediátrica</h1></a></div>
                                                        <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>La oftalmología pediátrica se ocupa de la detección, estudio, diagnóstico, valoración, tratamiento y seguimiento de los problemas oculares en bebés, niños y adolescentes.</p></a></div>
                                                        <div class="pie-servicios"><a href="/contacto/#link-medios-contacto"><p>solicita más Información</p></a></div>
                                                    </button>
                                                        <button class="boton-tarjeta">
                                                            <div class="titulo-servicios"><img src="assets/images/iconos/1a-consulta-desc-SGMM-yellow.svg" alt=""><a href="/contacto/#link-medios-contacto"><h1>Estudios</h1></a></div>
                                                            <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>Cotamos con los equipos más avanzados para realizar exámenes espacializados, topografía corneal, cámara de fondo de ojo, presión intraocular.</p></a></div>
                                                            <div class="pie-servicios"><a><p>solicita más Información</p></a></div>
                                                        </button>
                                                <button class="boton-tarjeta">
                                                    <div class="titulo-servicios"><a href="/contacto/#link-medios-contacto"><h1>Óptica</h1></a></div>
                                                    <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>Contámos con un amplia gama de armazones para ofrecer una solucion completa a tus necesidades de salud visual.</p></a></div>
                                                    <div class="pie-servicios"><a href="/contacto/#link-medios-contacto"><p>solicita más Información</p></a></div>
                                                </button>
                                                    <button class="boton-tarjeta">
                                                        <div class="titulo-servicios"><a href="/contacto/#link-medios-contacto"><h1>Examen de la vista</h1></a></div>
                                                        <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>Exámen de la vista para determinar las dioptrías.</p></a></div>
                                                        <div class="pie-servicios"><a href="/contacto/#link-medios-contacto"><p>solicita más Información</p></a></div>
                                                    </button>
                                                <button class="boton-tarjeta">
                                                    <div class="titulo-servicios"><a href="/contacto/#link-medios-contacto"><h1>Farmacia Oftalmológica</h1></a></div>
                                                    <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>Medicamentos de patente especializados para el área oftalomológica.</p></a></div>
                                                    <div class="pie-servicios"><a href="/contacto/#link-medios-contacto"><p>solicita más Información</p></a></div>
                                                </button>
                                    </div>
         </div>
</div>
<!---- SALUD VISUAL INTEGRAL EMPRESAS---->
<div class="contenedor-salud-visual">
        <div class= " container col-12 grid espaciado-bloques" id="link-salud-visual-int">
                    <div class="col-12 titulo-blq-saludvisual">
                        <h1 class="text-headline font-1"><span class="linea">|</span>   Salud Visual Integral</h1>
                        <p class="text-subheader font-1">Detectamos, atendemos y ofrecemos soluciones para cualquier<strong> afección visual.</strong></p>
                    </div>
                            <div class="col-4 col-md-10 col-sm-8 col-xs-6 col-xxs-4 content">
                                <div class="titulo-imagen-flex"><h1 class="font-1 text-title">Orientacion Médica</h1><div class="icono"><img src="assets/images/iconos/medical2.svg" alt="orientación médica"></div></div>
                                    <p class="text-contenido-simple font-contenido-simple">Realizamos pláticas informativas de enfermedades visuales y prevención en salud visual, buscando sensibilizar al paciente de la importancia de una valoración oftalmológica anual.<br><br>Lorem gizzle fo shizzle my nizzle check it out go to hizzle, consectetuer adipiscing phat. Nullizzle sapizzle velizzle, things volutpizzle, nizzle quis, dawg vizzle, shit. Pellentesque boofron tortizzle. Yippiyo eros.</p>
                            </div>
                                        <div class="col-4 col-md-10 col-sm-8 col-xs-6 col-xxs-4 content">
                                            <div class="titulo-imagen-flex"><h1 class="font-1 text-title">Preventiva</h1><div class="icono"><img src="assets/images/iconos/crono.svg" alt="preventiva"></div></div>
                                                <p class="text-contenido-simple font-contenido-simple">Con las <strong>campañas de salud visual ON-LINE | ON-SITE</strong> realizamos check-ups para detectar oportunamente enfermedades visuales y así prevenir enfermedades que pueden tener efectos adversos en tu salud visual.<br><br>Támbien hacemos uso de herramientas tecnológicas e innovadoras para la detección anticipada de enfermedades y proveemos la atención y tratamiento médico o quirúrgico adecuado para cada paciente.</p>
                                        </div>
                            <div class="col-4 col-md-10 col-sm-8 col-xs-6 col-xxs-4 content">
                                <div class="titulo-imagen-flex"><h1 class="font-1 text-title">Correctiva</h1><div class="icono"><img src="assets/images/iconos/engrane.svg" alt="correctiva"></div></div>
                                    <p class="text-contenido-simple font-contenido-simple">En las <strong>campañas de salud visual ON-LINE | ON-SITE</strong> realizamos CHECK-UPS completos sin costo con el objetivo de detectar oportunamente algunas de las enfermedades visuales más comunes y de esta manera poder corregir con el tratamiento más adecuado para cada paciente.<br><br>Aplica en evaluaciones realizadas dentro de las instalaciones de la empresa en convenio.</p>
                            </div>
<!---- boton saludv ----><a class="col-12 est-boton-saludv" href="/contacto/#link-medios-contacto"><button type="button" class="boton-saludv">Solicita más información<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><defs><style>.cls-22{fill:#1B3866;}</style></defs><path d="M112 111v290c0 17.44 17 28.52 31 20.16l247.9-148.37c12.12-7.25 12.12-26.33 0-33.58L143 90.84c-14-8.36-31 2.72-31 20.16z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg></button></a>
        </div>
</div>