---
layout: layouts/full.njk
title: Centro Intregal
eleventyNavigation:
  key: index
  title: Home
---
<!---- CABECERA ---->
<div class="contenedor-cabecera-pg">
    <div class="cabecera-pantalla-grande">
        <div class="texto-grande-cabecera container"><h1 class="text-jumbo font-1">¿Quieres saber si eres candidato a la Cirugía Refractiva?</h1>
        <div class="cuadra-boton-landing"><button class="boton-landing" type="button"><a href="/cirugia refractiva/#link-cirugia-refractiva" class="lanzador-agendacita" id="enlace-agendacita">Ver más</a></button></div></div>
    </div>
</div>
<!------- BOTON STICKY ------>
<div class="boton-sticky"><a href="#"><img src="/assets/images/iconos/arrow-up.svg" alt="flecha-sube">INICIO</a></div>
<!---- ¿ POR QUE ? ---->
<div class="contenedor-cio" id="link-cio">
    <div class="col-12 container grid">
                      <div class="container col-12 titulo-bloque-center">
                        <h1 class="text-headline font-1"><span class="linea">|</span> Centro Integral de Oftalmología</h1>
                        <p class="text-subheader font-1">Vemos desde una simple infección hasta transplantes de cornea</p>
                      </div>
                  <div class="col-12 grid caja">
                      <h1 class="col-12 text-headline font-1 question-center">¿ Por que es importante una revisión Oftalmológica ?</h1>
                      <div class="col-6 col-md-5 col-sm-8 col-xs-6 container move-afecciones">
                            <h2 class="apila-subtitulo">Graduaciones muy elevadas.<span class="font-contenido-simple cita-definicion">Miopía, Hipermetropía, Astigmatismo</span></h2>
                            <p><strong>Mejora tu calidad de vida . .</strong> con la <strong>cirugía láser</strong> es posible corregir estos padecimientos de manera definitiva, rápida, eficáz y segura.</p>
                            <h2>La Automedicación</h2>
                            <p>El uso indebido de gotas para blanquear los ojos, la aplicación indebida de cortisona.<br>Son factores de riesgo que puede derivar en Glaucoma</p>
                            <h2>Golpes fuertes o Traumatismos</h2>
                            <p>Golpes en la cabeza o en los ojos no identificados, incluso del pasado que podrían conducir a la ceguera.</p>
                            <h2>Retinopatía Diabética.</h2>
                            <p>Es un estallamiento en las venas y arterias microscópicas del interior del ojo que ocasionan sangrados internos y desprendimiento de retina. <br>Esta es la primera causa de ceguera en México</p>
                            <h2 class="apila-subtitulo">Glaucoma.<span class="font-contenido-simple cita-definicion">¡ La ceguera que no avisa !</span></h2>
                            <p>Se debe a daños irreversibles en el nervio óptico principalmente causadas por aumento en la presión intraocular que genera pérdida de la visión periférica.</p>
                        </div>
                        <div class="col-6 col-md-5 col-sm-8 col-xs-6 container move-afecciones">
                            <h2 class="apila-subtitulo">Cataráta. <span class="font-contenido-simple cita-definicion">  Disminución gradual de la visión.</span></h2>
                            <p>Es la opacidad del cristalino que funge como lente natural, ocasionando visión borrosa, dificultad para leer y ver de lejos. Es la primera causa de ceguera en el mundo.</p>
                            <h2 class="apila-subtitulo">Queratocóno.<span class="font-contenido-simple cita-definicion">¡ Mucho Cuidado ! Puede derivar en un transplante de cornea</span></h2>
                            <p>Es una alteración que produce un adelgazamiento progresivo de la zona central de la córnea, su forma esférica habitual cambia por una cónica, originando un astigmatismo irregular que distorsiona las imágenes y una sucesiva disminución de la visión.</p>
                            <h2>Degeneración Macular asociada con la edad</h2>
                            <p>Es la degeneración de la mácula (área central de la retina) que ocasiona pérdida de la visión central, si usted tiene mas de 45 años es importante acudir a un chequeo visual.</p>
                            <h2>Diabetes</h2>
                            <h2>Hipertensión</h2>
                            <h2>Infecciones crónicas.</h2>
                        </div>
                                <div class="container col-12 hashtag"><h2>Agenda tu cita para detectar opotunamente cualquiera de estos factores que podrian afectar tu #saludVisual.</h2></div>
                                    <button class="col-12 boton-agendacita" type="button"><a href="/contacto/#link-medios-contacto" class="lanzador-agendacita" id="enlace-agendacita">Agendar cita</a></button>
                                </div>
    </div>
</div>
<!---- NUESTRO EQUIPO ---->
<div class="contenedor-nuestro-equipo">
          <div class="container grid col-12 espaciado-bloques" id="link-nuestro-equipo">
                    <div class="col-12 titulo-blq-neq">
                        <h1 class="text-headline font-1"><span class="linea">|</span>    Nuestro Equipo</h1>
                        <p class="text-subheader font-1">Equipos para cirugía láser de ultima generacion  :<br><strong> Visumax</strong> / Visx S4 / Teneo láser excimer</p>
                    </div>
                            <div class="col-4 col-md-10 col-sm-8 col-xs-6 col-xxs-4 content">
                                <div class="titulo-imagen-flex"><h1 class="font-1 text-title">Instalaciones</h1><div class="icono"><img src="assets/images/iconos/pc_medicos.svg" alt="instalaciones"></div></div>
                                    <p class="text-contenido-simple font-contenido-simple">En Centro Integral de Oftalmología trabajamos en un entorno hospitalario de primer nivel, siempre buscamos la seguridad y tranquilidad de nuestros pacientes.<br><br>Desde el año 2020 hemos adoptado con rigurosa atención los estandares y cuidados recomendados por la secretaria de salud en todos nuestros centros de evaluación y hospitales en convenio, todo con la finalidad de cuidar a nuestros visitantes y pacientes.</p>
                            </div>
                                    <div class="col-4 col-md-10 col-sm-8 col-xs-6 col-xxs-4 content">
                                    <div class="titulo-imagen-flex"><h1 class="font-1 text-title">Vanguardia Tecnológica</h1><div class="icono"><img src="assets/images/iconos/termometro.svg" alt="vanguardia tecnológica"></div></div>
                                        <p class="text-contenido-simple font-contenido-simple">Equipos láser de alta precisión que no hacen uso de aparatos mecánicos ni cuchillas, con las técnicas más avanzadas que permiten la más mínima invasión para la corrección visual por láser.<br><br>Todos nuestros equipos son certificados y avalados por la <strong>FDA.</strong><br><br>Equipos alemanes de alta tecnología, novedosos y sofisticados para el diagnostico oportuno de enfermedades realacionadas con la vista.</p>
                                   </div>
                            <div class="col-4 col-md-10 col-sm-8 col-xs-6 col-xxs-4 content">
                            <div class="titulo-imagen-flex"><h1 class="font-1 text-title">Staff Médico</h1><div class="icono"><img src="assets/images/iconos/grupo_medicos.svg" alt="staff médico"></div></div>
                                <p class="text-contenido-simple font-contenido-simple">Médicos certificados y con mas de 20,000 cirugías exitosas que respaldan nuestra experiencia.<br><br>Ten la seguridad que quedaras en las mejores manos, contamos con los mejores especialistas. Corneologos, Retinologos, Estrabologos, esto garantza que tu tratamiento será realizado por un experto para tu diagnóstico.</p>
                            </div>
            </div>
</div>
<!---- SERVICIOS ---->
<div class="contenedor-servicios">
          <div class="container grid col-12 espaciado-bloques">
                    <div class="col-12" id="link-servicios">
                        <h1 class="text-headline font-1"><span class="linea">|</span>    Servicios</h1>
                        <p class="text-subheader font-1">Vemos desde una simple infección hasta transplantes de cornea.</p>
                    </div>
                                <div class="container grid col-12 tarjetas-servicios">
                                <button class="boton-tarjeta">
                                    <div class="titulo-servicios"><img src="assets/images/iconos/1a-consulta-desc-SGMM-marino.svg" alt=""><a href="/contacto/#link-medios-contacto"><h1>Oftalmología General</h1></a></div>
                                    <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>En Centro Integral de Oftalmología vemos desde una simple conjuntivitis hasta transplantes de cornea, contamos con procedimientos y exámenes de calidad para el diagnóstico de enfermedades visuales.</p></a></div>
                                    <div class="pie-servicios"><a href="/contacto/#link-medios-contacto"><p>solicita más Información</p></a></div>
                                </button>
                                    <button class="boton-tarjeta">
                                        <div class="titulo-servicios"><img src="assets/images/iconos/1a-consulta-desc-SGMM-verde.svg" alt=""><a href="/contacto/#link-medios-contacto"><h1><br>Cirugía Refractiva</h1></a></div>
                                        <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>La cirugía refractiva o cirugía láser te permite liberarte de los anteojos y lentes de contácto, para saber si eres candidato es necesario acudir a la valoración en donde un especialista determinará un tratamiento personalizado y el más adecuado para cada paciente.</p></a></div>
                                        <div class="pie-servicios"><a href="/contacto/#link-medios-contacto"><p>solicita más Información</p></a></div>
                                    </button>
                                                <button class="boton-tarjeta">
                                                    <div class="titulo-servicios"><a href="/contacto/#link-medios-contacto"><h1>Consulta con especialistas</h1></a></div>
                                                    <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>En Centro Integral de Oftalmología existen unidades especializadas en la investigación y tratamiento de la mayoría de las patologías oftalmológicas</p></a></div>
                                                    <div class="pie-servicios"><a href="/contacto/#link-medios-contacto"><p>solicita más Información</p></a></div>
                                                </button>
                                                    <button class="boton-tarjeta">
                                                        <div class="titulo-servicios"><a href="/contacto/#link-medios-contacto"><h1>Oftalmología Pediátrica</h1></a></div>
                                                        <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>La oftalmología pediátrica se ocupa de la detección, estudio, diagnóstico, valoración, tratamiento y seguimiento de los problemas oculares en bebés, niños y adolescentes.</p></a></div>
                                                        <div class="pie-servicios"><a href="/contacto/#link-medios-contacto"><p>solicita más Información</p></a></div>
                                                    </button>
                                                        <button class="boton-tarjeta">
                                                            <div class="titulo-servicios"><img src="assets/images/iconos/1a-consulta-desc-SGMM-yellow.svg" alt=""><a href="/contacto/#link-medios-contacto"><h1>Estudios</h1></a></div>
                                                            <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>Cotamos con los equipos más avanzados para realizar exámenes espacializados, topografía corneal, cámara de fondo de ojo, presión intraocular.</p></a></div>
                                                            <div class="pie-servicios"><a><p>solicita más Información</p></a></div>
                                                        </button>
                                                <button class="boton-tarjeta">
                                                    <div class="titulo-servicios"><a href="/contacto/#link-medios-contacto"><h1>Óptica</h1></a></div>
                                                    <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>Contámos con un amplia gama de armazones para ofrecer una solucion completa a tus necesidades de salud visual.</p></a></div>
                                                    <div class="pie-servicios"><a href="/contacto/#link-medios-contacto"><p>solicita más Información</p></a></div>
                                                </button>
                                                    <button class="boton-tarjeta">
                                                        <div class="titulo-servicios"><a href="/contacto/#link-medios-contacto"><h1>Examen de la vista</h1></a></div>
                                                        <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>Exámen de la vista para determinar las dioptrías.</p></a></div>
                                                        <div class="pie-servicios"><a href="/contacto/#link-medios-contacto"><p>solicita más Información</p></a></div>
                                                    </button>
                                                <button class="boton-tarjeta">
                                                    <div class="titulo-servicios"><a href="/contacto/#link-medios-contacto"><h1>Farmacia Oftalmológica</h1></a></div>
                                                    <div class="body-servicios"><a href="/contacto/#link-medios-contacto"><p>Medicamentos de patente especializados para el área oftalomológica.</p></a></div>
                                                    <div class="pie-servicios"><a href="/contacto/#link-medios-contacto"><p>solicita más Información</p></a></div>
                                                </button>
                                    </div>
         </div>
</div>
<!---- SALUD VISUAL INTEGRAL EMPRESAS---->
<div class="contenedor-salud-visual">
    <div class= " container col-12 grid espaciado-bloques" id="link-salud-visual-int">
        <div class="col-12 titulo-blq-saludvisual">
              <h1 class="text-headline font-1"><span class="linea">|</span>   Salud Visual Integral</h1>
              <p class="text-subheader font-1">Detectamos, atendemos y ofrecemos soluciones para cualquier<strong> afección visual.</strong></p>
        </div>
              <div class="col-4 col-md-10 col-sm-8 col-xs-6 col-xxs-4 content">
                  <div class="titulo-imagen-flex"><h1 class="font-1 text-title">Orientacion Médica</h1><div class="icono"><img src="assets/images/iconos/medical2.svg" alt="orientación médica"></div></div>
                      <p class="text-contenido-simple font-contenido-simple">Realizamos pláticas informativas de enfermedades visuales y prevención en salud visual, buscando sensibilizar al paciente de la importancia de una valoración oftalmológica anual.<br><br>Lorem gizzle fo shizzle my nizzle check it out go to hizzle, consectetuer adipiscing phat. Nullizzle sapizzle velizzle, things volutpizzle, nizzle quis, dawg vizzle, shit. Pellentesque boofron tortizzle. Yippiyo eros.</p>
              </div>
                <div class="col-4 col-md-10 col-sm-8 col-xs-6 col-xxs-4 content">
                <div class="titulo-imagen-flex"><h1 class="font-1 text-title">Preventiva</h1><div class="icono"><img src="assets/images/iconos/crono.svg" alt="preventiva"></div></div>
                      <p class="text-contenido-simple font-contenido-simple">Con las <strong>campañas de salud visual ON-LINE | ON-SITE</strong> realizamos check-ups para detectar oportunamente enfermedades visuales y así prevenir enfermedades que pueden tener efectos adversos en tu salud visual.<br><br>Támbien hacemos uso de herramientas tecnológicas e innovadoras para la detección anticipada de enfermedades y proveemos la atención y tratamiento médico o quirúrgico adecuado para cada paciente.</p>
              </div>
                <div class="col-4 col-md-10 col-sm-8 col-xs-6 col-xxs-4 content">
                <div class="titulo-imagen-flex"><h1 class="font-1 text-title">Correctiva</h1><div class="icono"><img src="assets/images/iconos/engrane.svg" alt="correctiva"></div></div>
                      <p class="text-contenido-simple font-contenido-simple">En las <strong>campañas de salud visual ON-LINE | ON-SITE</strong> realizamos CHECK-UPS completos sin costo con el objetivo de detectar oportunamente algunas de las enfermedades visuales más comunes y de esta manera poder corregir con el tratamiento más adecuado para cada paciente.<br><br>Aplica en evaluaciones realizadas dentro de las instalaciones de la empresa en convenio.</p>
          </div>
    </div>
</div>