---
layout: layouts/full.njk
title: clínica de  oftalmología - Centro Integral de Oftalmología
description: Experimenta la libertad de vivir sin lentes y decidete a practicar cualquier deporte que te propongas o simplemente ve por esas gafas solares que deseas, somos especialistas en lasik la cirugia que te libera de los lentes, mantenemos acuerdos con las principales aseguradoras, visita la optica fisica, acercate a doctor de los ojos frente a world trade center ciudad de mexico.
eleventyNavigation:
  key: index
  title: Home
---
<!---- CABECERA ---->
<div class="contenedor-cabecera-pg">
    <div class="container grid cabecera-pantalla-grande">
        <div class="texto-grande-cabecera col-8 col-md-10 col-sm-8 col-xs-6 col-xxs-4"><h1 class="text-jumbo font-1">¿ Quieres disfrutar la vida sin usar lentes ?</h1><span class="llamado-accion"><p>Averigua si eres candidato o candidata a la cirugía y al mismo tiempo realizamos un chequeo completo de tu <strong> SALUD VISUAL</strong><br><br></p></span>
<!---- boton landing ----><a class="est-boton-landing" href="/cirugia refractiva/#link-cirugia-refractiva"><button type="button" class="boton-landing">Ver más<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><defs><style>.cls-22{fill:#1B3866;}</style></defs><path d="M112 111v290c0 17.44 17 28.52 31 20.16l247.9-148.37c12.12-7.25 12.12-26.33 0-33.58L143 90.84c-14-8.36-31 2.72-31 20.16z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg></button></a>
        </div>
    </div>
</div>
<div class="contenedor-cabecera-pp">
    <div class="container grid cabecera-pantalla-pequena">
        <div class="texto-grande-cabecera col-8 col-md-10 col-sm-8 col-xs-6 col-xxs-4"><h1 class="text-jumbo font-1">¿ Quieres disfrutar la vida sin usar lentes ?</h1><span class="llamado-accion"><p>Averigua si eres candidato a la <strong>cirugía láser</strong><br><br></p></span>
<!---- boton landing ----><a class="est-boton-landing" href="/cirugia refractiva/#link-cirugia-refractiva"><button type="button" class="boton-landing">Ver más<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><defs><style>.cls-22{fill:#1B3866;}</style></defs><path d="M112 111v290c0 17.44 17 28.52 31 20.16l247.9-148.37c12.12-7.25 12.12-26.33 0-33.58L143 90.84c-14-8.36-31 2.72-31 20.16z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg></button></a>
        </div>
    </div>
</div>
<!------- BOTON STICKY ------>
<div class="boton-sticky"><a href="#"><img src="/assets/images/iconos/arrow-up.svg" alt="flecha-sube">INICIO</a></div>

<!---- CENTRO INTEGRAL NOSOTROS ---->
<div class="contenedor-nosotros" id="link-centro-integral">
          <div class="container grid espaciado-bloques" id="link-nosotros">
                    <div class="col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4 l-spacing centra-tittle">
                        <h1 class="text-headline font-1"><span class="linea">|</span>    Centro Integral de Oftalmología</h1>
                        <p class="text-subheader font-1 mensaje-nos-pg">Somos una clínica integral oftalmológica</p>
                        <p class="text-contenido-simple font-contenido-simple mensaje-nos-pg">Vemos desde una conjuntivitis hasta transplantes de cornea, trabajamos con un grupo interdiciplinario de médicos expertos para cada tratamiento y ciurgía.</p>
                        <div class="cont-vermas text-contenido-simple-menu font-1"><a class="est-vermas mensaje-nos-pg" href="/servicios/#link-servicios"><span class="ir-texto">ver más</span><span class="ir-icono"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><defs><style>.cls-36{fill:#213245;}</style></defs><path class="cls-36" d="M28,12H19V3H13v9H4v6h9v9h6V18h9Z"/></svg></span></a></div>
                    </div>
                    <div class="col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4 imagen-nosotros">
                    <a class="est-link-img" href="/servicios/#link-servicios">
                    <img src="/assets/images/landing/clinica_de_ojos.svg" alt="prueba">
                    </a>
                        <div class="mensaje-nos-pp">
                        <p class="text-contenido-simple-menu font-1">Somos una clínica integral oftalmológica</p>
                        <p class="text-contenido-simple font-contenido-simple">Vemos desde una conjuntivitis hasta transplantes de cornea.</p>
                        <div class="cont-vermas text-contenido-simple-menu font-1"><a class="est-vermas" href="/servicios/#link-servicios"><span class="ir-texto">ver más</span><span class="ir-icono"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><defs><style>.cls-36{fill:#213245;}</style></defs><path class="cls-36" d="M28,12H19V3H13v9H4v6h9v9h6V18h9Z"/></svg></span></a></div>
                        </div>
                    </div>
          </div>
</div>
<!---- NUESTRO EQUIPO ---->
<div class="contenedor-index-ne" id="link-nuestro-equipo">
          <div class="container grid espaciado-bloques" id="link-nosotros">
                 <div class="col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4 imagen-nosotros l-spacing">
                 <a class="est-link-img" href="/servicios/#link-nuestro-equipo">
                    <img src="/assets/images/landing/estudios_oftalmologia.svg" alt="centro_integral">
                 </a>
                        <div class="mensaje-nos-pp">
                        <p class="text-contenido-simple-menu font-1">Instalaciones | Staff Médico | Vanguardia tecnológica.</p>
                        <p class="text-contenido-simple font-contenido-simple">Trabajamos en un entorno hospitalario de 1er nivel.</p>
                        <div class="cont-vermas text-contenido-simple-menu font-1"><a class="est-vermas" href="/servicios/#link-nuestro-equipo"><span class="ir-texto">ver más</span><span class="ir-icono"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><defs><style>.cls-36{fill:#213245;}</style></defs><path class="cls-36" d="M28,12H19V3H13v9H4v6h9v9h6V18h9Z"/></svg></span></a></div>
                        </div>
                    </div>
                    <div class="col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4 l-spacing group-text-ne centra-tittle">
                        <h1 class="text-headline font-1"><span class="linea">|</span>    Nuestro Equipo</h1>
                        <p class="text-subheader font-1 mensaje-nos-pg">Equipos para cirugía láser de ultima generación</p>
                        <p class="text-contenido-simple font-contenido-simple mensaje-nos-pg"><br>Equipo de diagnóstico de última generación y para cirugías: <strong>Visumax</strong>, Visx S4, Teneo láser excimer, todos nuestros equipos son certificados y avalados por la <strong>FDA.</strong></p>
                        <div class="cont-vermas text-contenido-simple-menu font-1"><a class="est-vermas mensaje-nos-pg" href="/servicios/#link-nuestro-equipo"><span class="ir-texto">ver más</span><span class="ir-icono"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><defs><style>.cls-36{fill:#213245;}</style></defs><path class="cls-36" d="M28,12H19V3H13v9H4v6h9v9h6V18h9Z"/></svg></span></a></div>
                    </div>
          </div>
</div>
<!---- CITRUGIA REFRACTIVA ---->
<div class="contenedor-cr" id="link-cr">
          <div class="container grid espaciado-bloques" id="link-nosotros">
                    <div class="col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4 l-spacing centra-tittle">
                        <h1 class="text-headline font-1"><span class="linea">|</span>    Cirugía Refractiva</h1>
                        <p class="text-subheader font-1 mensaje-nos-pg">Somos expertos en corrección visual</p>
                        <p class="text-contenido-simple font-contenido-simple mensaje-nos-pg">Con más de 20K cirugías existosas somos expertos en cirugía lasik, la cirugía que te libera de los lentes.<br>Decídete a usar los lentes de sol que tanto te deseas !</p>
                        <div class="cont-vermas text-contenido-simple-menu font-1"><a class="est-vermas mensaje-nos-pg" href="/cirugia refractiva/#link-cirugia-refractiva"><span class="ir-texto">ver más</span><span class="ir-icono"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><defs><style>.cls-36{fill:#213245;}</style></defs><path class="cls-36" d="M28,12H19V3H13v9H4v6h9v9h6V18h9Z"/></svg></span></a></div>
                    </div>
                    <div class="col-6 col-md-10 col-sm-8 col-xs-6 col-xxs-4 imagen-nosotros">
                    <a class="est-link-img" href="/cirugia refractiva/#link-cirugia-refractiva">
                    <img src="/assets/images/landing/servicios_oftalmologicos.svg" alt="centro_integral">
                    </a>
                        <div class="mensaje-nos-pp">
                        <p class="text-contenido-simple-menu font-1">Somos expertos en cirugía lasik</p>
                        <p class="text-contenido-simple font-contenido-simple">La cirugía que te libera de los lentes graduados.</p>
                        <div class="cont-vermas text-contenido-simple-menu font-1"><a class="est-vermas" href="/cirugia refractiva/#link-cirugia-refractiva"><span class="ir-texto">ver más</span><span class="ir-icono"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><defs><style>.cls-36{fill:#213245;}</style></defs><path class="cls-36" d="M28,12H19V3H13v9H4v6h9v9h6V18h9Z"/></svg></span></a></div>
                        </div>
                    </div>
          </div>
</div>
<!---- PEQUENOS ---->
<div class="contenedor-nosotros fondo-color" id="link-nosotros">
          <div class="container grid espaciado-bloques" id="link-nosotros">
                    <!---- MENSAJE ASEGURADORAS ---->
                    <div class="col-3 col-md-10 col-sm-8 col-xs-6 col-xxs-4 l-spacing mensaje-nos-pg">
                    <a href="/cirugia refractiva/#link-convenio-aseguradoras">
                        <h2 class="text-headline font-1">Aseguradoras</h2>
                        <p class="text-contenido-simple font-contenido-simple">Convenios con la principales compañias de seguros.</p>
                    </a>
                    </div>
                    <div class="col-3 col-md-10 col-sm-8 col-xs-6 col-xxs-4 imagen-m-agendar">
                    <a href="/cirugia refractiva/#link-convenio-aseguradoras">
                    <img src="/assets/images/landing/aseguradoras.svg" alt="convenios con aseguradoras">
                        <div class="mensaje-nos-pp">
                        <p class="text-contenido-simple-menu font-1">Convenios con Aseguradoras</p>
                    </a>
                        </div>
                    </div>
                    <!---- MENSAJE SALUD VISUAL INTEGRAL ---->
                    <div class="col-3 col-md-10 col-sm-8 col-xs-6 col-xxs-4 l-spacing mensaje-nos-pg">
                    <a class="link-mensaje-accion" href="/servicios/#link-salud-visual-int">
                        <h2 class="text-headline font-1">Salud Visual Integral</h2>
                        <p class="text-contenido-simple font-contenido-simple">Beneficios para empresas y corporativos.</p>
                    </a>
                    </div>
                    <div class="col-3 col-md-10 col-sm-8 col-xs-6 col-xxs-4 imagen-m-agendar">
                    <a class="link-mensaje-accion" href="/servicios/#link-salud-visual-int">
                    <img src="/assets/images/landing/meeting_zoom_oftalmologia.svg" alt="campanas de salud">
                        <div class="mensaje-nos-pp">
                        <p class="text-contenido-simple-menu font-1">Campañas de salud</p>
                    </a>
                        </div>
                    </div>
                    <!---- MENSAJE FAQS ---->
                    <div class="col-3 col-md-10 col-sm-8 col-xs-6 col-xxs-4 l-spacing mensaje-nos-pg">
                    <a class="link-mensaje-accion" href="/preguntas frecuentes/#link-preguntas-frecuentes">
                        <h2 class="text-headline font-1">Preguntas Frecuentes</h2>
                        <p class="text-contenido-simple font-contenido-simple">(FAQ's)</p>
                        </a>
                    </div>
                    <div class="col-3 col-md-10 col-sm-8 col-xs-6 col-xxs-4 imagen-m-agendar">
                    <a class="link-mensaje-accion" href="/preguntas frecuentes/#link-preguntas-frecuentes">
                    <img src="/assets/images/landing/faqs.svg" alt="faqs">
                        <div class="mensaje-nos-pp">
                        <p class="text-contenido-simple-menu font-1">Preguntas Frecuentes</p>
                    </a>
                        </div>
                    </div>
                    <!---- MENSAJE AGENDAR CITA ---->
                    <div class="col-3 col-md-10 col-sm-8 col-xs-6 col-xxs-4 l-spacing mensaje-nos-pg">
                        <a class="link-mensaje-accion" href="/contacto/#link-medios-contacto">
                        <h2 class="text-headline font-1">Agenda tu cita</h2>
                        <p class="text-contenido-simple font-contenido-simple">Puedes agendar tu cita con un mensaje directo.</p>
                        </a>
                    </div>
                    <div class="col-3 col-md-10 col-sm-8 col-xs-6 col-xxs-4 imagen-m-agendar">
                    <a class="link-mensaje-accion" href="/contacto/#link-medios-contacto">
                    <img src="/assets/images/landing/citas_text.svg" alt="agenda cita">
                        <div class="mensaje-nos-pp">
                        <p class="text-contenido-simple-menu font-1">Agenda cita fácil y rápido</p>
                    </a>
                        </div>
                    </div>
            </div>
</div>