---
layout: layouts/base-pdf.njk
title: Centro Integral de Oftalmología - presentacion empresas
description: Campaña de salud visual para empresas, desplazamos equipos de diagnóstico y personal médico capacitado para realizar valoraciones médicas sin costo, CDMX.
---
<!---- PDF ---->
<div class="presentacion-empresas">
     <iframe type="pdf" frameborder="0" src="/assets/salud_visual_empresas_2022_hd.pdf"></iframe>
</div>