---
layout: layouts/base-pdf.njk
title: Centro Integral de Oftalmología - presentacion empresas
description: Campaña de salud visual para empresas, desplazamos equipos de diagnóstico y personal médico capacitado para realizar valoraciones médicas sin costo, CDMX.
---
<!---- PDF ---->
<div class="presentacion-empresas">
     <object class="pdfview" type="application/pdf" data="/assets/salud_visual_empresas_2022_Prueba.pdf"></object>
</div>