---
layout: layouts/base-pdf.njk
title: Centro Integral de Oftalmología - clínica de  oftalmología
description: Salud Visual para empresas, campanas de salud visual, desplaamoa equipos de diagnóstico y personal médico capacitado para realizar valoraciones médicas sin costo, CDMX.
---
<!---- PDF ---->
<div class="presentacion-empresas">
    <div class="col-12 container grid" id="">
          <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 l-spacing container">
                      <div class="caja-presentacion">
                      <iframe src="/assets/salud_visual_empresas_2022.pdf"></iframe>
                      </div>
          </div>
    </div>
</div>